### Import Packages

In [1]:
# import the necessary packages
from matplotlib import pyplot as plt
from easyocr import Reader
import argparse
import cv2
from PIL import Image
import io

In [2]:
from table_classes import Documents, ConvertedDocuments, BoxedImages , AzureBoxedImages, FormRecognizer

Please enter DataJoint username: root
Please enter DataJoint password: ········

[2023-05-03 07:55:50,060][INFO]: Connecting root@localhost:3306
[2023-05-03 07:55:50,093][INFO]: Connected root@localhost:3306

In [3]:
BoxedImages.BoxedImageComments()

*document_id   *image_number  *box_number    *comment_times comment
+------------+ +------------+ +------------+ +------------+ +---------+

 (Total: 0)

In [4]:
BoxedImages.BoxedParagraphComments()

*document_id   *image_number  *paragraph_num *comment_times comment
+------------+ +------------+ +------------+ +------------+ +---------+

 (Total: 0)

In [5]:
BoxedImages.BoxedImageBlobs()

*document_id   *image_number  *box_number    boxed_imag ocr_text     ocr_prob
+------------+ +------------+ +------------+ +--------+ +----------+ +----------+

 (Total: 0)

In [ ]:
ocr_probs = (BoxedImages.BoxedImageBlobs & "document_id=0" & "image_number=1").fetch('ocr_prob')
print(len(ocr_probs))

In [ ]:
image = (BoxedImages() & 'image_number=4').fetch1('full_boxed_image')
image2 = (BoxedImages.BoxedImageBlobs & 'image_number=1' & 'box_number=1').fetch1('boxed_image')

In [10]:
image_data = (BoxedImages.BoxedImageBlobs & 'image_number=1' & 'box_number=4').fetch1('boxed_image')
boxed_image = Image.open(io.BytesIO(image_data))

# Display the image using Image.show() method (opens the image in the default image viewer)
boxed_image.show()

In [3]:
image_data = (BoxedImages.BoxedParagraphBlobs & 'image_number=2' & 'paragraph_number=1').fetch1('boxed_paragraph')
boxed_image = Image.open(io.BytesIO(image_data))

# Display the image using Image.show() method (opens the image in the default image viewer)
boxed_image.show()

In [5]:
BoxedImages.BoxedImageBlobs()

*document_id   *image_number  *box_number    boxed_imag ocr_text       ocr_prob
+------------+ +------------+ +------------+ +--------+ +------------+ +------------+
0              1              1              =BLOB=     H012943623     0.62189
0              1              2              =BLOB=     KatalTst       0.224717
0              1              3              =BLOB=     DataHanageENT  0.167786
0              1              4              =BLOB=     CR             0.78811
0              1              5              =BLOB=     1              0.856111
0              1              6              =BLOB=     03             0.997597
0              1              7              =BLOB=     March 21, 1958 0.42304
0              1              8              =BLOB=     7ulat          0.0364432
0              1              9              =BLOB=     Cl30           0.337563
0              1              10             =BLOB=     Etbfect        0.524037
0              1              11             =BLOB=     MEIL DAtL MNON 0.00633945
0              1              12             =BLOB=     HILED DT UCW C 0.224511
   ...
 (Total: 503)

In [ ]:
image_3 = (BoxedImages & 'image_number=1').fetch1('full_boxed_image')
boxed_image = Image.open(io.BytesIO(image_3))

# Display the image using Image.show() method (opens the image in the default image viewer)
boxed_image.show()

In [9]:
BoxedImages.BoxedImageBlobs

table_classes.BoxedImages.BoxedImageBlobs

In [11]:
BoxedImages.BoxedParagraphBlobs()

*document_id   *image_number  *paragraph_num boxed_para ocr_text       ocr_prob
+------------+ +------------+ +------------+ +--------+ +------------+ +-----------+
0              1              1              =BLOB=     H012943623 Kat 0.338131
0              1              2              =BLOB=     1              0.856111
0              1              3              =BLOB=     March 21, 1958 0.42304
0              1              4              =BLOB=     7ulat Cl30 Etb 0.189176
0              1              5              =BLOB=     Xr % 4 Krott F 0.159284
0              1              6              =BLOB=     #sicr'         0.0925838
0              1              7              =BLOB=     attoa          0.0722287
0              2              1              =BLOB=     Co~l Fi Rv' ,  0.219883
0              2              2              =BLOB=     Cr. |03 Union  0.161465
0              2              3              =BLOB=     Bti2 Ho 2 Loce 0.467536
0              2              4              =BLOB=     Dateg: Connenc 0.667749
0              2              5              =BLOB=     DST' 8: None . 0.705622
   ...
 (Total: 33)

In [4]:
AzureBoxedImages.AzureBoxedImageBlobs()

*document_id   *image_number  *box_number    boxed_imag ocr_text     ocr_prob     handwritten
+------------+ +------------+ +------------+ +--------+ +----------+ +----------+ +------------+

 (Total: 0)

In [13]:
(AzureBoxedImages.AzureBoxedImageBlobs & 'handwritten=1')

*document_id   *image_number  *box_number    boxed_imag ocr_text       ocr_prob     handwritten
+------------+ +------------+ +------------+ +--------+ +------------+ +----------+ +------------+
0              1              2              =BLOB=     CR 1.03        0.982        1
0              2              0              =BLOB=     Costa Rica Pir 1.0          1
0              2              1              =BLOB=     CR.1.03        1.0          1
0              4              29             =BLOB=     9871           0.468        1
0              4              54             =BLOB=     3              0.563        1
0              5              22             =BLOB=     -              0.793        1
0              5              32             =BLOB=     -              0.75         1
0              5              42             =BLOB=     -              0.902        1
 (Total: 8)

In [17]:
AzureBoxedImages.AzureBoxedImageComments()

*document_id   *image_number  *box_number    *comment_times comment
+------------+ +------------+ +------------+ +------------+ +---------+
0              1              2              2023-04-27 08: CR.1.03
 (Total: 1)

In [6]:
AzureBoxedImages.AzureBoxedParagraphBlobs()

*document_id   *image_number  *paragraph_num boxed_para ocr_text       ocr_prob
+------------+ +------------+ +------------+ +--------+ +------------+ +----------+
0              1              0              =BLOB=     H012943623 KAT 0.0
0              1              1              =BLOB=     CR 1.03        0.0
0              1              2              =BLOB=     Harch 21, 1953 0.0
0              1              3              =BLOB=     Filet CR-30    0.0
0              1              4              =BLOB=     Subject: WELL  0.0
0              1              5              =BLOB=     Nr. K. A. Krig 0.0
0              1              6              =BLOB=     Dear Sir:      0.0
0              1              7              =BLOB=     Vixder separat 0.0
0              1              8              =BLOB=     Patiño No. 2 3 0.0
0              1              9              =BLOB=     A guneral ouma 0.0
0              1              10             =BLOB=     The material o 0.0
0              1              11             =BLOB=     We have the su 0.0
   ...
 (Total: 66)

In [12]:
image_data = (AzureBoxedImages & 'document_id=0' & 'image_number=2').fetch1('full_boxed_image')
image_data = (AzureBoxedImages.AzureBoxedParagraphBlobs & f'document_id=0' & f'image_number=1' & f'paragraph_number=1').fetch1('boxed_paragraph')
boxed_image = Image.open(io.BytesIO(image_data))

# Display the image using Image.show() method (opens the image in the default image viewer)
boxed_image.show()

In [8]:
AzureBoxedImages.AzureBoxedImageBlobs()

*document_id   *image_number  *box_number    boxed_imag ocr_text       ocr_prob
+------------+ +------------+ +------------+ +--------+ +------------+ +----------+
0              1              0              =BLOB=     H012943623     0.972
0              1              1              =BLOB=     KATALYST DATA  0.972
0              1              2              =BLOB=     CR 1.03        0.982
0              1              3              =BLOB=     Harch 21, 1953 0.972
0              1              4              =BLOB=     Filet CR-30    0.972
0              1              5              =BLOB=     Subject: WELL  0.972
0              1              6              =BLOB=     DRILLSD BY UNI 0.972
0              1              7              =BLOB=     IN COSTA RICA  0.972
0              1              8              =BLOB=     Nr. K. A. Krig 0.945
0              1              9              =BLOB=     Producing Coor 0.972
0              1              10             =BLOB=     20 Rockefeller 0.972
0              1              11             =BLOB=     New York 20, N 0.972
   ...
 (Total: 229)

In [4]:
# Insertion of bool in AzureBoxedImages.AzureBoxedImageBlobs

text = 'CR 1.03'
text = '9871'
query = AzureBoxedImages.AzureBoxedImageBlobs & f'ocr_text LIKE "%{text}%"'
print(query.fetch('ocr_text'))

insertion_dict = {}

for row in query:
    document_id = row['document_id']
    image_number = row['image_number']
    box_number = row['box_number']
    ocr_text = row['ocr_text']
    print(f"document_id: {document_id}, image_number: {image_number}, box_number: {box_number}")

['9871']
document_id: 0, image_number: 4, box_number: 29

In [6]:
image_data = (AzureBoxedImages.AzureBoxedImageBlobs & 'document_id=0' & 'image_number=1' & 'box_number=2').fetch1('boxed_image')
boxed_image = Image.open(io.BytesIO(image_data))

# Display the image using Image.show() method (opens the image in the default image viewer)
boxed_image.show()

In [10]:
AzureBoxedImages.AzureBoxedImageBlobs()

*document_id   *image_number  *box_number    boxed_imag ocr_text       ocr_prob     handwritten
+------------+ +------------+ +------------+ +--------+ +------------+ +----------+ +------------+
0              1              0              =BLOB=     H012943623     0.972        0
0              1              1              =BLOB=     KATALYST DATA  0.972        0
0              1              2              =BLOB=     CR 1.03        0.982        1
0              1              3              =BLOB=     Harch 21, 1953 0.972        0
0              1              4              =BLOB=     Filet CR-30    0.972        0
0              1              5              =BLOB=     Subject: WELL  0.972        0
0              1              6              =BLOB=     DRILLSD BY UNI 0.972        0
0              1              7              =BLOB=     IN COSTA RICA  0.972        0
0              1              8              =BLOB=     Nr. K. A. Krig 0.945        0
0              1              9              =BLOB=     Producing Coor 0.972        0
0              1              10             =BLOB=     20 Rockefeller 0.972        0
0              1              11             =BLOB=     New York 20, N 0.972        0
   ...
 (Total: 229)

In [10]:
AzureBoxedImages.AzureBoxedParagraphBlobs()

*document_id   *image_number  *paragraph_num boxed_para ocr_text       ocr_prob
+------------+ +------------+ +------------+ +--------+ +------------+ +----------+
0              1              0              =BLOB=     H012943623 KAT 0.0
0              1              1              =BLOB=     CR 1.03        0.0
0              1              2              =BLOB=     Harch 21, 1953 0.0
0              1              3              =BLOB=     Filet CR-30    0.0
0              1              4              =BLOB=     Subject: WELL  0.0
0              1              5              =BLOB=     Nr. K. A. Krig 0.0
0              1              6              =BLOB=     Dear Sir:      0.0
0              1              7              =BLOB=     Vixder separat 0.0
0              1              8              =BLOB=     Patiño No. 2 3 0.0
0              1              9              =BLOB=     A guneral ouma 0.0
0              1              10             =BLOB=     The material o 0.0
0              1              11             =BLOB=     We have the su 0.0
   ...
 (Total: 66)

In [11]:
image_data = (AzureBoxedImages.AzureBoxedParagraphBlobs & 'document_id=0' & 'image_number=1' & 'paragraph_number=11').fetch1('boxed_paragraph')
boxed_image = Image.open(io.BytesIO(image_data))

# Display the image using Image.show() method (opens the image in the default image viewer)
boxed_image.show()

In [7]:
# Documents.drop()

In [14]:
search_term = 'CR'    
search_terms = search_term.lower().split()
filter_condition = 'handwritten=1'
boxed_image_results = (AzureBoxedImages.AzureBoxedImageBlobs & f'{filter_condition}').fetch("ocr_text")
print(boxed_image_results)
matches = set()

for idx, ocr_text in enumerate(boxed_image_results):
    ocr_text_lower = ocr_text.lower()
    if all(term in ocr_text_lower for term in search_terms):
        document_ids, image_numbers, box_numbers = AzureBoxedImages.AzureBoxedImageBlobs.fetch("document_id", "image_number", "box_number")
        document_id = document_ids[idx]
        image_number = image_numbers[idx]
        box_number = box_numbers[idx]
        matches.add((document_id, image_number, box_number, "Box"))

['CR 1.03' 'Costa Rica Pire.' 'CR.1.03' '9871' '3' '-' '-' '-']

In [8]:
FormRecognizer()

*document_id   *image_number  form_recog average_form_r
+------------+ +------------+ +--------+ +------------+
0              1              =BLOB=     0.869
0              2              =BLOB=     0.611
0              3              =BLOB=     0.908
0              4              =BLOB=     0.879
0              5              =BLOB=     0.727
1              1              =BLOB=     0.869
1              2              =BLOB=     0.611
1              3              =BLOB=     0.908
1              4              =BLOB=     0.879
1              5              =BLOB=     0.727
1              6              =BLOB=     0.928
1              7              =BLOB=     0
   ...
 (Total: 113)

In [9]:
len(FormRecognizer & 'document_id=0')

5

In [4]:
FormRecognizer.FormRecognizerBoxedImageBlobs()

*document_id   *image_number  *box_number    boxed_imag form_recognize ocr_prob
+------------+ +------------+ +------------+ +--------+ +------------+ +----------+

 (Total: 0)

In [3]:
FormRecognizer.FormRecognizerBoxedImageComments()

*document_id   *image_number  *box_number    *comment_times comment
+------------+ +------------+ +------------+ +------------+ +---------+

 (Total: 0)

In [8]:
boxed_image_blob = (FormRecognizer.FormRecognizerBoxedImageBlobs & {'document_id': 0, 'image_number': 1, 'box_number': 1}).fetch1('boxed_image')

In [3]:
FormRecognizer.FormRecognizerBoxedImageBlobs()

*document_id   *image_number  *box_number    boxed_imag form_recognize ocr_prob
+------------+ +------------+ +------------+ +--------+ +------------+ +----------+
0              1              0              =BLOB=     CR             0.804
0              1              1              =BLOB=     1.03           0.934
0              2              0              =BLOB=     Costa          0.341
0              2              1              =BLOB=     Rica           0.607
0              2              2              =BLOB=     Pire.          0.237
0              2              3              =BLOB=     Costa          0.969
0              2              4              =BLOB=     CR.1.03        0.9
0              3              0              =BLOB=     -2             0.908
0              4              0              =BLOB=     9871           0.759
0              4              1              =BLOB=     Dip            0.998
0              5              0              =BLOB=     791            0.727
 (Total: 11)

In [7]:
FormRecognizer.FormRecognizerBoxedImageComments()

*document_id   *image_number  *box_number    *comment_times comment
+------------+ +------------+ +------------+ +------------+ +---------+
0              1              2              2023-05-02 09: 103
0              2              2              2023-05-02 09: pira
 (Total: 2)

In [10]:
FormRecognizer.FormRecognizerBoxedImageBlobs()

*document_id   *image_number  *box_number    boxed_imag form_recognize ocr_prob
+------------+ +------------+ +------------+ +--------+ +------------+ +----------+
0              1              0              =BLOB=     CR             0.804
0              1              1              =BLOB=     1.03           0.934
0              2              0              =BLOB=     Costa          0.341
0              2              1              =BLOB=     Rica           0.607
0              2              2              =BLOB=     Pire.          0.237
0              2              3              =BLOB=     Costa          0.969
0              2              4              =BLOB=     CR.1.03        0.9
0              3              0              =BLOB=     -2             0.908
0              4              0              =BLOB=     9871           0.759
0              4              1              =BLOB=     Dip            0.998
0              5              0              =BLOB=     791            0.727
1              1              0              =BLOB=     CR             0.804
   ...
 (Total: 1343)

In [4]:
ConvertedDocuments.Images()

*document_id   *image_number  image
+------------+ +------------+ +--------+
0              1              =BLOB=
0              2              =BLOB=
0              3              =BLOB=
0              4              =BLOB=
0              5              =BLOB=
0              6              =BLOB=
0              7              =BLOB=
0              8              =BLOB=
0              9              =BLOB=
0              10             =BLOB=
0              11             =BLOB=
0              12             =BLOB=
   ...
 (Total: 24)

In [5]:
a = (FormRecognizer.FormRecognizerBoxedImageBlobs & 'document_id=0').fetch('KEY', 'form_recognizer_text')
a

[[{'document_id': 0, 'image_number': 2, 'box_number': 0},
  {'document_id': 0, 'image_number': 2, 'box_number': 1},
  {'document_id': 0, 'image_number': 2, 'box_number': 2},
  {'document_id': 0, 'image_number': 2, 'box_number': 3},
  {'document_id': 0, 'image_number': 2, 'box_number': 4},
  {'document_id': 0, 'image_number': 2, 'box_number': 5},
  {'document_id': 0, 'image_number': 2, 'box_number': 6},
  {'document_id': 0, 'image_number': 2, 'box_number': 7},
  {'document_id': 0, 'image_number': 2, 'box_number': 8},
  {'document_id': 0, 'image_number': 2, 'box_number': 9},
  {'document_id': 0, 'image_number': 3, 'box_number': 0},
  {'document_id': 0, 'image_number': 3, 'box_number': 1},
  {'document_id': 0, 'image_number': 3, 'box_number': 2},
  {'document_id': 0, 'image_number': 5, 'box_number': 0},
  {'document_id': 0, 'image_number': 5, 'box_number': 1},
  {'document_id': 0, 'image_number': 6, 'box_number': 0},
  {'document_id': 0, 'image_number': 12, 'box_number': 0},
  {'document_id': 0, 'image_number': 12, 'box_number': 1},
  {'document_id': 0, 'image_number': 12, 'box_number': 2},
  {'document_id': 0, 'image_number': 12, 'box_number': 3},
  {'document_id': 0, 'image_number': 12, 'box_number': 4},
  {'document_id': 0, 'image_number': 12, 'box_number': 5},
  {'document_id': 0, 'image_number': 12, 'box_number': 6},
  {'document_id': 0, 'image_number': 12, 'box_number': 7},
  {'document_id': 0, 'image_number': 12, 'box_number': 8},
  {'document_id': 0, 'image_number': 12, 'box_number': 9},
  {'document_id': 0, 'image_number': 12, 'box_number': 10},
  {'document_id': 0, 'image_number': 12, 'box_number': 11},
  {'document_id': 0, 'image_number': 12, 'box_number': 12},
  {'document_id': 0, 'image_number': 12, 'box_number': 13},
  {'document_id': 0, 'image_number': 12, 'box_number': 14},
  {'document_id': 0, 'image_number': 12, 'box_number': 15},
  {'document_id': 0, 'image_number': 12, 'box_number': 16},
  {'document_id': 0, 'image_number': 12, 'box_number': 17},
  {'document_id': 0, 'image_number': 12, 'box_number': 18},
  {'document_id': 0, 'image_number': 12, 'box_number': 19},
  {'document_id': 0, 'image_number': 12, 'box_number': 20},
  {'document_id': 0, 'image_number': 12, 'box_number': 21},
  {'document_id': 0, 'image_number': 12, 'box_number': 22},
  {'document_id': 0, 'image_number': 12, 'box_number': 23},
  {'document_id': 0, 'image_number': 12, 'box_number': 24},
  {'document_id': 0, 'image_number': 19, 'box_number': 0},
  {'document_id': 0, 'image_number': 19, 'box_number': 1},
  {'document_id': 0, 'image_number': 19, 'box_number': 2},
  {'document_id': 0, 'image_number': 22, 'box_number': 0},
  {'document_id': 0, 'image_number': 22, 'box_number': 1},
  {'document_id': 0, 'image_number': 23, 'box_number': 0},
  {'document_id': 0, 'image_number': 23, 'box_number': 1},
  {'document_id': 0, 'image_number': 24, 'box_number': 0},
  {'document_id': 0, 'image_number': 24, 'box_number': 1}],
 array(['L00917', 'By', 'CR.3.07', 'CR.3.07', '3.', '1-13-66', 'CR.3.08',
        'PRODUCING', 'ITC', 'CR.3.09', '14', 'CR', '3.07', 'CR', '3.07',
        'CR.3.07', 'CR.', '3.', '07', 'UCRETACEOUS', 'CRETACEOUS', '01:go',
        'Excene', 'Middle', 'Oligocen', 'LLO', 'MIOCENE', 'Covered)',
        '1085m.', 'TEMPISQUE', 'Exfoliating', 'beds', '(Manzanillo',
        'beds)', 'FM.', 'FM.', 'FM.', 'LCARRILLO', 'U.STA', '1&', 'SH.',
        'CR.', '3.', '07', 'CR.3.', '07', 'CR.3.', '07', 'CR.3.', '07'],
       dtype=object)]

In [17]:
FormRecognizer.FormRecognizerBoxedImageBlobs & 'document_id=1'

*document_id   *image_number  *box_number    boxed_imag form_recognize ocr_prob
+------------+ +------------+ +------------+ +--------+ +------------+ +----------+
1              1              0              =BLOB=     CR             0.804
1              1              1              =BLOB=     1.03           0.934
1              2              0              =BLOB=     Costa          0.341
1              2              1              =BLOB=     Rica           0.607
1              2              2              =BLOB=     Pire.          0.237
1              2              3              =BLOB=     Costa          0.969
1              2              4              =BLOB=     CR.1.03        0.9
1              3              0              =BLOB=     -2             0.908
1              4              0              =BLOB=     9871           0.759
1              4              1              =BLOB=     Dip            0.998
1              5              0              =BLOB=     791            0.727
1              6              0              =BLOB=     CR.3.07        0.928
   ...
 (Total: 666)

In [9]:
import pandas as pd

In [22]:
import json

with open('/Users/David.Godinez/Downloads/7b12da4f-7664-433c-9a34-4306c35f1aab_removed.json', 'r') as f:
    data = json.load(f)

In [23]:
result = pd.json_normalize(data)

In [24]:
result

,status,createdDateTime,lastUpdatedDateTime,analyzeResult.apiVersion,analyzeResult.modelId,analyzeResult.stringIndexType,analyzeResult.content,analyzeResult.pages,analyzeResult.paragraphs,analyzeResult.styles,analyzeResult.languages
0,succeeded,2023-05-03T15:30:33Z,2023-05-03T15:30:39Z,2023-02-28-preview,prebuilt-read,utf16CodeUnit,HØ12943623 KATALYST DATA MANAGEMENT\nCR 1.03\n...,"[{'pageNumber': 1, 'angle': -0.513000011444091...","[{'spans': [{'offset': 1298, 'length': 9}], 'b...","[{'confidence': 0.95, 'spans': [{'offset': 0, ...","[{'spans': [{'offset': 0, 'length': 10}], 'loc..."

In [154]:
styles = pd.json_normalize(data['analyzeResult'], record_path=['styles'])
styles = styles.dropna(subset=['isHandwritten'])
styles.head()

,confidence,spans,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,0.95,"[{'offset': 0, 'length': 35, 'confidence': 0.9...",False,NaN,NaN,NaN,NaN,NaN
8,1.00,"[{'offset': 36, 'length': 7, 'confidence': 1.0...",True,NaN,NaN,NaN,NaN,NaN
42,0.90,"[{'offset': 224, 'length': 10, 'confidence': 0...",False,NaN,NaN,NaN,NaN,NaN
80,0.80,"[{'offset': 1538, 'length': 7, 'confidence': 0...",False,NaN,NaN,NaN,NaN,NaN
98,0.70,"[{'offset': 2325, 'length': 3, 'confidence': 0...",False,NaN,NaN,NaN,NaN,NaN

In [127]:
styles = styles.dropna(subset=['isHandwritten'])

In [128]:
styles.head()

,confidence,spans,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,0.95,"[{'offset': 0, 'length': 35, 'confidence': 0.9...",False,NaN,NaN,NaN,NaN,NaN
8,1.00,"[{'offset': 36, 'length': 7, 'confidence': 1.0...",True,NaN,NaN,NaN,NaN,NaN
42,0.90,"[{'offset': 224, 'length': 10, 'confidence': 0...",False,NaN,NaN,NaN,NaN,NaN
80,0.80,"[{'offset': 1538, 'length': 7, 'confidence': 0...",False,NaN,NaN,NaN,NaN,NaN
98,0.70,"[{'offset': 2325, 'length': 3, 'confidence': 0...",False,NaN,NaN,NaN,NaN,NaN

In [130]:
styles = styles.loc[styles.isHandwritten, :]

In [131]:
styles.head()

,confidence,spans,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
8,1.0,"[{'offset': 36, 'length': 7, 'confidence': 1.0...",True,NaN,NaN,NaN,NaN,NaN
115,0.4,"[{'offset': 3186, 'length': 1, 'confidence': 0...",True,NaN,NaN,NaN,NaN,NaN
123,0.7,"[{'offset': 4960, 'length': 1, 'confidence': 0...",True,NaN,NaN,NaN,NaN,NaN

In [25]:
result.columns

Index(['status', 'createdDateTime', 'lastUpdatedDateTime',
       'analyzeResult.apiVersion', 'analyzeResult.modelId',
       'analyzeResult.stringIndexType', 'analyzeResult.content',
       'analyzeResult.pages', 'analyzeResult.paragraphs',
       'analyzeResult.styles', 'analyzeResult.languages'],
      dtype='object')

In [29]:
result = result[['analyzeResult.content',
       'analyzeResult.pages', 'analyzeResult.paragraphs',
       'analyzeResult.styles', 'analyzeResult.languages']]
result

,analyzeResult.content,analyzeResult.pages,analyzeResult.paragraphs,analyzeResult.styles,analyzeResult.languages
0,HØ12943623 KATALYST DATA MANAGEMENT\nCR 1.03\n...,"[{'pageNumber': 1, 'angle': -0.513000011444091...","[{'spans': [{'offset': 1298, 'length': 9}], 'b...","[{'confidence': 0.95, 'spans': [{'offset': 0, ...","[{'spans': [{'offset': 0, 'length': 10}], 'loc..."

In [66]:
paragraphs = result['analyzeResult.paragraphs'][0]

# paragraphs[0]['spans'][0]['offset']

140

In [78]:
styles = result['analyzeResult.styles'][0]
styles[5]

{'confidence': 0.99,
 'spans': [{'offset': 0, 'length': 1297},
  {'offset': 1308, 'length': 1020},
  {'offset': 2340, 'length': 26},
  {'offset': 2402, 'length': 138},
  {'offset': 2572, 'length': 809},
  {'offset': 3404, 'length': 874},
  {'offset': 4288, 'length': 30},
  {'offset': 4360, 'length': 6},
  {'offset': 4428, 'length': 7},
  {'offset': 4458, 'length': 49},
  {'offset': 4554, 'length': 94},
  {'offset': 4665, 'length': 6},
  {'offset': 4674, 'length': 135},
  {'offset': 4859, 'length': 82},
  {'offset': 4964, 'length': 266},
  {'offset': 5233, 'length': 282},
  {'offset': 5592, 'length': 73}],
 'backgroundColor': '#ffffff'}

In [ ]:
handwritten_rows = df[df['isHandwritten'] == True]
handwritten_spans = []

for spans in handwritten_rows['spans']:
    handwritten_spans.extend(spans)
    
    
handwritten_offsets = [span['offset'] for span in handwritten_spans]
print(handwritten_offsets)

In [136]:
result['analyzeResult.styles'][0][num]['spans'][0]

{'offset': 5670, 'length': 13}

In [1]:
import json
import pandas as pd

with open('/Users/David.Godinez/Downloads/7b12da4f-7664-433c-9a34-4306c35f1aab_removed.json', 'r') as f:
    data = json.load(f)
    
result = pd.json_normalize(data)

In [10]:
# result['analyzeResult.paragraphs'][0][num] is that you want to iterate through
result['analyzeResult.paragraphs'][0][0]['spans'][0]['offset']

1298

In [ ]:
# ==================

In [ ]:
result['analyzeResult.styles']

In [26]:
styles = result['analyzeResult.styles']
new_styles = pd.DataFrame(styles[0])
new_styles

,confidence,spans,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,0.95,"[{'offset': 0, 'length': 35}, {'offset': 44, '...",False,NaN,NaN,NaN,NaN,NaN
1,1.00,"[{'offset': 0, 'length': 35}, {'offset': 1323,...",NaN,normal,NaN,NaN,NaN,NaN
2,1.00,"[{'offset': 0, 'length': 35}, {'offset': 1323,...",NaN,NaN,bold,NaN,NaN,NaN
3,1.00,"[{'offset': 0, 'length': 10}]",NaN,NaN,NaN,"Arial, sans-serif",NaN,NaN
4,0.99,"[{'offset': 0, 'length': 10}, {'offset': 36, '...",NaN,NaN,NaN,NaN,#000000,NaN
...,...,...,...,...,...,...,...,...
126,0.95,"[{'offset': 5231, 'length': 1}]",NaN,NaN,NaN,"UD Digi Kyokasho N, serif",NaN,NaN
127,0.95,"[{'offset': 5531, 'length': 10}]",NaN,NaN,NaN,"Times New Roman, serif",NaN,NaN
128,0.40,"[{'offset': 5542, 'length': 1}]",NaN,NaN,NaN,"BIZ UDMincho Medium, serif",NaN,NaN
129,0.50,"[{'offset': 5666, 'length': 3}]",NaN,NaN,NaN,"BIZ UDMincho Medium, serif",NaN,NaN
130,0.90,"[{'offset': 5670, 'length': 13}]",NaN,NaN,NaN,"Times New Roman, serif",NaN,NaN

In [29]:
new_styles = new_styles[new_styles['isHandwritten'] == True]

In [37]:
new_styles

,confidence,spans,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
8,1.0,"[{'offset': 36, 'length': 7}, {'offset': 1308,...",True,NaN,NaN,NaN,NaN,NaN
115,0.4,"[{'offset': 3186, 'length': 1}, {'offset': 464...",True,NaN,NaN,NaN,NaN,NaN
123,0.7,"[{'offset': 4960, 'length': 1}]",True,NaN,NaN,NaN,NaN,NaN

In [42]:
df_unraveled.reset_index(drop=True)

,confidence,spans,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,1.0,"{'offset': 36, 'length': 7}",True,NaN,NaN,NaN,NaN,NaN
1,1.0,"{'offset': 1308, 'length': 14}",True,NaN,NaN,NaN,NaN,NaN
2,1.0,"{'offset': 1355, 'length': 8}",True,NaN,NaN,NaN,NaN,NaN
3,1.0,"{'offset': 4672, 'length': 1}",True,NaN,NaN,NaN,NaN,NaN
4,0.4,"{'offset': 3186, 'length': 1}",True,NaN,NaN,NaN,NaN,NaN
5,0.4,"{'offset': 4649, 'length': 1}",True,NaN,NaN,NaN,NaN,NaN
6,0.7,"{'offset': 4960, 'length': 1}",True,NaN,NaN,NaN,NaN,NaN

In [79]:
# for num in range(len(result['analyzeResult.paragraphs'][0][0])):
# 	print(result['analyzeResult.paragraphs'][0][0])

In [57]:
# result['analyzeResult.paragraphs'][0][3]['spans'][0]['offset']

44

In [78]:
paragraphs = result['analyzeResult.paragraphs']
new_paragraphs = pd.DataFrame(paragraphs[0])
new_paragraphs

,spans,boundingRegions,content
0,"[{'offset': 1298, 'length': 9}]","[{'pageNumber': 1, 'polygon': [1.5794, 0.4786,...",:barcode:
1,"[{'offset': 0, 'length': 35}]","[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",HØ12943623 KATALYST DATA MANAGEMENT
2,"[{'offset': 36, 'length': 7}]","[{'pageNumber': 1, 'polygon': [6.7387, 1.3306,...",CR 1.03
3,"[{'offset': 44, 'length': 14}]","[{'pageNumber': 1, 'polygon': [3.6263, 1.7614,...","March 21, 1950"
4,"[{'offset': 59, 'length': 11}]","[{'pageNumber': 1, 'polygon': [5.0014, 2.2496,...",Filet CR-30
...,...,...,...
135,"[{'offset': 5231, 'length': 299}]","[{'pageNumber': 5, 'polygon': [3.2411, 5.8407,...",6 Circ & cond mud 10 hrs. Drilled plug & shoe ...
136,"[{'offset': 5531, 'length': 10}]","[{'pageNumber': 5, 'polygon': [0.616, 10.0543,...",Form. Nº %
137,"[{'offset': 5542, 'length': 123}]","[{'pageNumber': 5, 'polygon': [3.2411, 7.2034,...",7 Circ & cond mud 16 hrs. Using Lime-Oil Emuls...
138,"[{'offset': 5666, 'length': 3}]","[{'pageNumber': 5, 'polygon': [2.4829, 7.3631,...",79'
139,"[{'offset': 5670, 'length': 13}]","[{'pageNumber': 5, 'polygon': [6.8706, 10.1633...",117.275 Tormo

In [80]:
styles = result['analyzeResult.styles']
new_styles = pd.DataFrame(styles[0])
new_styles

,confidence,spans,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,0.95,"[{'offset': 0, 'length': 35}, {'offset': 44, '...",False,NaN,NaN,NaN,NaN,NaN
1,1.00,"[{'offset': 0, 'length': 35}, {'offset': 1323,...",NaN,normal,NaN,NaN,NaN,NaN
2,1.00,"[{'offset': 0, 'length': 35}, {'offset': 1323,...",NaN,NaN,bold,NaN,NaN,NaN
3,1.00,"[{'offset': 0, 'length': 10}]",NaN,NaN,NaN,"Arial, sans-serif",NaN,NaN
4,0.99,"[{'offset': 0, 'length': 10}, {'offset': 36, '...",NaN,NaN,NaN,NaN,#000000,NaN
...,...,...,...,...,...,...,...,...
126,0.95,"[{'offset': 5231, 'length': 1}]",NaN,NaN,NaN,"UD Digi Kyokasho N, serif",NaN,NaN
127,0.95,"[{'offset': 5531, 'length': 10}]",NaN,NaN,NaN,"Times New Roman, serif",NaN,NaN
128,0.40,"[{'offset': 5542, 'length': 1}]",NaN,NaN,NaN,"BIZ UDMincho Medium, serif",NaN,NaN
129,0.50,"[{'offset': 5666, 'length': 3}]",NaN,NaN,NaN,"BIZ UDMincho Medium, serif",NaN,NaN
130,0.90,"[{'offset': 5670, 'length': 13}]",NaN,NaN,NaN,"Times New Roman, serif",NaN,NaN

In [91]:
new_styles.columns

Index(['confidence', 'spans', 'isHandwritten', 'fontStyle', 'fontWeight',
       'similarFontFamily', 'color', 'backgroundColor'],
      dtype='object')

In [86]:
styles = result['analyzeResult.styles']
styles

0    [{'confidence': 0.95, 'spans': [{'offset': 0, ...
Name: analyzeResult.styles, dtype: object

In [ ]:
import pandas as pd

paragraphs = result['analyzeResult.paragraphs']
styles = result['analyzeResult.styles'][0]

df_paragraphs = pd.DataFrame(paragraphs)
df_styles = pd.DataFrame(styles)
style_spans = []

for index, row in df_styles.iterrows():
    for span in row['spans']:
        span['confidence'] = row['confidence']
        span['isHandwritten'] = row['isHandwritten']
        span['fontStyle'] = row['fontStyle']
        span['fontWeight'] = row['fontWeight']
        span['similarFontFamily'] = row['similarFontFamily']
        span['color'] = row['color']
        span['backgroundColor'] = row['backgroundColor']
        style_spans.append(span)

df_style_spans = pd.DataFrame(style_spans)


paragraph_spans = []

for index, row in df_paragraphs.iterrows():
    for span in row['spans']:
        span['content'] = row['content']
        span['boundingRegions'] = row['boundingRegions']
        paragraph_spans.append(span)

df_paragraph_spans = pd.DataFrame(paragraph_spans)
df_merged = pd.merge(df_paragraph_spans, df_style_spans, on=['offset', 'length'], how='inner')

In [105]:
new_paragraph = pd.DataFrame(result['analyzeResult.paragraphs'][0])
new_paragraph

,spans,boundingRegions,content
0,"[{'offset': 1298, 'length': 9}]","[{'pageNumber': 1, 'polygon': [1.5794, 0.4786,...",:barcode:
1,"[{'offset': 0, 'length': 35}]","[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",HØ12943623 KATALYST DATA MANAGEMENT
2,"[{'offset': 36, 'length': 7}]","[{'pageNumber': 1, 'polygon': [6.7387, 1.3306,...",CR 1.03
3,"[{'offset': 44, 'length': 14}]","[{'pageNumber': 1, 'polygon': [3.6263, 1.7614,...","March 21, 1950"
4,"[{'offset': 59, 'length': 11}]","[{'pageNumber': 1, 'polygon': [5.0014, 2.2496,...",Filet CR-30
...,...,...,...
135,"[{'offset': 5231, 'length': 299}]","[{'pageNumber': 5, 'polygon': [3.2411, 5.8407,...",6 Circ & cond mud 10 hrs. Drilled plug & shoe ...
136,"[{'offset': 5531, 'length': 10}]","[{'pageNumber': 5, 'polygon': [0.616, 10.0543,...",Form. Nº %
137,"[{'offset': 5542, 'length': 123}]","[{'pageNumber': 5, 'polygon': [3.2411, 7.2034,...",7 Circ & cond mud 16 hrs. Using Lime-Oil Emuls...
138,"[{'offset': 5666, 'length': 3}]","[{'pageNumber': 5, 'polygon': [2.4829, 7.3631,...",79'
139,"[{'offset': 5670, 'length': 13}]","[{'pageNumber': 5, 'polygon': [6.8706, 10.1633...",117.275 Tormo

In [113]:
new_paragraph.explode('spans')

,spans,boundingRegions,content
0,"{'offset': 1298, 'length': 9}","[{'pageNumber': 1, 'polygon': [1.5794, 0.4786,...",:barcode:
1,"{'offset': 0, 'length': 35}","[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",HØ12943623 KATALYST DATA MANAGEMENT
2,"{'offset': 36, 'length': 7}","[{'pageNumber': 1, 'polygon': [6.7387, 1.3306,...",CR 1.03
3,"{'offset': 44, 'length': 14}","[{'pageNumber': 1, 'polygon': [3.6263, 1.7614,...","March 21, 1950"
4,"{'offset': 59, 'length': 11}","[{'pageNumber': 1, 'polygon': [5.0014, 2.2496,...",Filet CR-30
...,...,...,...
135,"{'offset': 5231, 'length': 299}","[{'pageNumber': 5, 'polygon': [3.2411, 5.8407,...",6 Circ & cond mud 10 hrs. Drilled plug & shoe ...
136,"{'offset': 5531, 'length': 10}","[{'pageNumber': 5, 'polygon': [0.616, 10.0543,...",Form. Nº %
137,"{'offset': 5542, 'length': 123}","[{'pageNumber': 5, 'polygon': [3.2411, 7.2034,...",7 Circ & cond mud 16 hrs. Using Lime-Oil Emuls...
138,"{'offset': 5666, 'length': 3}","[{'pageNumber': 5, 'polygon': [2.4829, 7.3631,...",79'
139,"{'offset': 5670, 'length': 13}","[{'pageNumber': 5, 'polygon': [6.8706, 10.1633...",117.275 Tormo

In [110]:
styles = result['analyzeResult.styles']
new_styles = pd.DataFrame(styles[0])
# new_styles = new_styles.explode('spans')
exploded_styles = new_styles.explode('spans')
exploded_styles

,confidence,spans,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,0.95,"{'offset': 0, 'length': 35}",False,NaN,NaN,NaN,NaN,NaN
0,0.95,"{'offset': 44, 'length': 179}",False,NaN,NaN,NaN,NaN,NaN
0,0.95,"{'offset': 235, 'length': 207}",False,NaN,NaN,NaN,NaN,NaN
0,0.95,"{'offset': 449, 'length': 836}",False,NaN,NaN,NaN,NaN,NaN
0,0.95,"{'offset': 1292, 'length': 5}",False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
126,0.95,"{'offset': 5231, 'length': 1}",NaN,NaN,NaN,"UD Digi Kyokasho N, serif",NaN,NaN
127,0.95,"{'offset': 5531, 'length': 10}",NaN,NaN,NaN,"Times New Roman, serif",NaN,NaN
128,0.40,"{'offset': 5542, 'length': 1}",NaN,NaN,NaN,"BIZ UDMincho Medium, serif",NaN,NaN
129,0.50,"{'offset': 5666, 'length': 3}",NaN,NaN,NaN,"BIZ UDMincho Medium, serif",NaN,NaN
130,0.90,"{'offset': 5670, 'length': 13}",NaN,NaN,NaN,"Times New Roman, serif",NaN,NaN

In [115]:
style_spans = []

for index, row in new_styles.iterrows():
    for span in row['spans']:
        span['confidence'] = row['confidence']
        span['isHandwritten'] = row['isHandwritten']
        span['fontStyle'] = row['fontStyle']
        span['fontWeight'] = row['fontWeight']
        span['similarFontFamily'] = row['similarFontFamily']
        span['color'] = row['color']
        span['backgroundColor'] = row['backgroundColor']
        style_spans.append(span)

df_style_spans = pd.DataFrame(style_spans)

In [116]:
df_style_spans

,offset,length,confidence,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,0,35,0.95,False,NaN,NaN,NaN,NaN,NaN
1,44,179,0.95,False,NaN,NaN,NaN,NaN,NaN
2,235,207,0.95,False,NaN,NaN,NaN,NaN,NaN
3,449,836,0.95,False,NaN,NaN,NaN,NaN,NaN
4,1292,5,0.95,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
752,5231,1,0.95,NaN,NaN,NaN,"UD Digi Kyokasho N, serif",NaN,NaN
753,5531,10,0.95,NaN,NaN,NaN,"Times New Roman, serif",NaN,NaN
754,5542,1,0.40,NaN,NaN,NaN,"BIZ UDMincho Medium, serif",NaN,NaN
755,5666,3,0.50,NaN,NaN,NaN,"BIZ UDMincho Medium, serif",NaN,NaN
756,5670,13,0.90,NaN,NaN,NaN,"Times New Roman, serif",NaN,NaN

In [162]:
paragraph_spans = []

for index, row in new_paragraph.iterrows():
    for span in row['spans']:
        span['content'] = row['content']
        span['boundingRegions'] = row['boundingRegions']
        paragraph_spans.append(span)

df_paragraph_spans = pd.DataFrame(paragraph_spans)

In [163]:
df_paragraph_spans

,offset,length,content,boundingRegions
0,1298,9,:barcode:,"[{'pageNumber': 1, 'polygon': [1.5794, 0.4786,..."
1,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,..."
2,36,7,CR 1.03,"[{'pageNumber': 1, 'polygon': [6.7387, 1.3306,..."
3,44,14,"March 21, 1950","[{'pageNumber': 1, 'polygon': [3.6263, 1.7614,..."
4,59,11,Filet CR-30,"[{'pageNumber': 1, 'polygon': [5.0014, 2.2496,..."
...,...,...,...,...
135,5231,299,6 Circ & cond mud 10 hrs. Drilled plug & shoe ...,"[{'pageNumber': 5, 'polygon': [3.2411, 5.8407,..."
136,5531,10,Form. Nº %,"[{'pageNumber': 5, 'polygon': [0.616, 10.0543,..."
137,5542,123,7 Circ & cond mud 16 hrs. Using Lime-Oil Emuls...,"[{'pageNumber': 5, 'polygon': [3.2411, 7.2034,..."
138,5666,3,79',"[{'pageNumber': 5, 'polygon': [2.4829, 7.3631,..."
139,5670,13,117.275 Tormo,"[{'pageNumber': 5, 'polygon': [6.8706, 10.1633..."

In [134]:
df_merged = pd.merge(df_paragraph_spans, df_style_spans, on=['offset', 'length'], how='inner')
df_merged

,offset,length,content,boundingRegions,confidence,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",0.95,False,NaN,NaN,NaN,NaN,NaN
1,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",1.00,NaN,normal,NaN,NaN,NaN,NaN
2,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",1.00,NaN,NaN,bold,NaN,NaN,NaN
3,36,7,CR 1.03,"[{'pageNumber': 1, 'polygon': [6.7387, 1.3306,...",0.99,NaN,NaN,NaN,NaN,#000000,NaN
4,36,7,CR 1.03,"[{'pageNumber': 1, 'polygon': [6.7387, 1.3306,...",1.00,True,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
324,5531,10,Form. Nº %,"[{'pageNumber': 5, 'polygon': [0.616, 10.0543,...",0.95,NaN,NaN,NaN,"Times New Roman, serif",NaN,NaN
325,5666,3,79',"[{'pageNumber': 5, 'polygon': [2.4829, 7.3631,...",0.99,NaN,NaN,NaN,NaN,#020202,NaN
326,5666,3,79',"[{'pageNumber': 5, 'polygon': [2.4829, 7.3631,...",0.50,NaN,NaN,NaN,"BIZ UDMincho Medium, serif",NaN,NaN
327,5670,13,117.275 Tormo,"[{'pageNumber': 5, 'polygon': [6.8706, 10.1633...",0.99,NaN,NaN,NaN,NaN,#040404,NaN
328,5670,13,117.275 Tormo,"[{'pageNumber': 5, 'polygon': [6.8706, 10.1633...",0.90,NaN,NaN,NaN,"Times New Roman, serif",NaN,NaN

In [135]:
df_merged[df_merged['isHandwritten'] == True]

,offset,length,content,boundingRegions,confidence,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
4,36,7,CR 1.03,"[{'pageNumber': 1, 'polygon': [6.7387, 1.3306,...",1.0,True,NaN,NaN,NaN,NaN,NaN
73,1308,14,Costa Rica Pre,"[{'pageNumber': 2, 'polygon': [6.2395, 0.0901,...",1.0,True,NaN,NaN,NaN,NaN,NaN
80,1355,8,CR. 1.03,"[{'pageNumber': 2, 'polygon': [6.5255, 0.905, ...",1.0,True,NaN,NaN,NaN,NaN,NaN
304,4649,1,-,"[{'pageNumber': 5, 'polygon': [2.4355, 3.5346,...",0.4,True,NaN,NaN,NaN,NaN,NaN
315,4960,1,-,"[{'pageNumber': 5, 'polygon': [2.426, 4.705, 2...",0.7,True,NaN,NaN,NaN,NaN,NaN

In [136]:
len(df_merged[df_merged['isHandwritten'] == True])

5

In [ ]:
# ========================= Starting over =========================

In [155]:
styles = pd.json_normalize(data['analyzeResult'], record_path=['styles'])
styles = styles.dropna(subset=['isHandwritten'])
styles.head()

,confidence,spans,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,0.95,"[{'offset': 0, 'length': 35, 'confidence': 0.9...",False,NaN,NaN,NaN,NaN,NaN
8,1.00,"[{'offset': 36, 'length': 7, 'confidence': 1.0...",True,NaN,NaN,NaN,NaN,NaN
42,0.90,"[{'offset': 224, 'length': 10, 'confidence': 0...",False,NaN,NaN,NaN,NaN,NaN
80,0.80,"[{'offset': 1538, 'length': 7, 'confidence': 0...",False,NaN,NaN,NaN,NaN,NaN
98,0.70,"[{'offset': 2325, 'length': 3, 'confidence': 0...",False,NaN,NaN,NaN,NaN,NaN

In [158]:
style_spans = []

for index, row in styles.iterrows():
    for span in row['spans']:
        span['confidence'] = row['confidence']
        span['isHandwritten'] = row['isHandwritten']
        span['fontStyle'] = row['fontStyle']
        span['fontWeight'] = row['fontWeight']
        span['similarFontFamily'] = row['similarFontFamily']
        span['color'] = row['color']
        span['backgroundColor'] = row['backgroundColor']
        style_spans.append(span)

df_new_style_spans = pd.DataFrame(style_spans)

In [161]:
df_new_style_spans

,offset,length,confidence,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,0,35,0.95,False,NaN,NaN,NaN,NaN,NaN
1,44,179,0.95,False,NaN,NaN,NaN,NaN,NaN
2,235,207,0.95,False,NaN,NaN,NaN,NaN,NaN
3,449,836,0.95,False,NaN,NaN,NaN,NaN,NaN
4,1292,5,0.95,False,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
58,3382,9,0.60,False,NaN,NaN,NaN,NaN,NaN
59,3802,1,0.60,False,NaN,NaN,NaN,NaN,NaN
60,3186,1,0.40,True,NaN,NaN,NaN,NaN,NaN
61,4649,1,0.40,True,NaN,NaN,NaN,NaN,NaN
62,4960,1,0.70,True,NaN,NaN,NaN,NaN,NaN

In [159]:
df_merged4 = pd.merge(df_paragraph_spans, df_new_style_spans, on=['offset', 'length'], how='inner')
df_merged4

,offset,length,content,boundingRegions,confidence,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",0.95,False,NaN,NaN,NaN,NaN,NaN
1,36,7,CR 1.03,"[{'pageNumber': 1, 'polygon': [6.7387, 1.3306,...",1.00,True,NaN,NaN,NaN,NaN,NaN
2,224,10,Dear Så **,"[{'pageNumber': 1, 'polygon': [1.4779, 4.4896,...",0.90,False,NaN,NaN,NaN,NaN,NaN
3,443,5,"7,407","[{'pageNumber': 1, 'polygon': [5.2934, 5.8106,...",0.90,False,NaN,NaN,NaN,NaN,NaN
4,1286,5,Atts.,"[{'pageNumber': 1, 'polygon': [1.5459, 10.3433...",0.90,False,NaN,NaN,NaN,NaN,NaN
5,1292,5,ASter,"[{'pageNumber': 1, 'polygon': [1.5572, 9.9795,...",0.95,False,NaN,NaN,NaN,NaN,NaN
6,1308,14,Costa Rica Pre,"[{'pageNumber': 2, 'polygon': [6.2395, 0.0901,...",1.00,True,NaN,NaN,NaN,NaN,NaN
7,1323,31,Union Oil Company of California,"[{'pageNumber': 2, 'polygon': [3.1277, 1.1419,...",0.95,False,NaN,NaN,NaN,NaN,NaN
8,1355,8,CR. 1.03,"[{'pageNumber': 2, 'polygon': [6.5255, 0.905, ...",1.00,True,NaN,NaN,NaN,NaN,NaN
9,1538,7,2/23/55,"[{'pageNumber': 2, 'polygon': [3.3741, 2.6439,...",0.80,False,NaN,NaN,NaN,NaN,NaN
10,1546,10,Completed:,"[{'pageNumber': 2, 'polygon': [2.4074, 2.8381,...",0.95,False,NaN,NaN,NaN,NaN,NaN
11,1557,7,4/19/55,"[{'pageNumber': 2, 'polygon': [3.3552, 2.8239,...",0.90,False,NaN,NaN,NaN,NaN,NaN
12,2071,34,List of material received to date:,"[{'pageNumber': 2, 'polygon': [1.7626, 7.6616,...",0.90,False,NaN,NaN,NaN,NaN,NaN
13,2143,15,"2,100' - 3,051'","[{'pageNumber': 2, 'polygon': [3.104, 8.3249, ...",0.90,False,NaN,NaN,NaN,NaN,NaN
14,2233,4,ES-3,"[{'pageNumber': 2, 'polygon': [2.5116, 9.0025,...",0.90,False,NaN,NaN,NaN,NaN,NaN
15,2304,4,ES-5,"[{'pageNumber': 2, 'polygon': [2.5164, 9.5, 2....",0.80,False,NaN,NaN,NaN,NaN,NaN
16,2309,15,"4,100' - 5,290'","[{'pageNumber': 2, 'polygon': [3.1893, 9.5, 4....",0.95,False,NaN,NaN,NaN,NaN,NaN
17,2554,8,3/21/58.,"[{'pageNumber': 3, 'polygon': [1.4489, 4.9069,...",0.90,False,NaN,NaN,NaN,NaN,NaN
18,2563,8,CR.I. ..,"[{'pageNumber': 4, 'polygon': [7.0467, 0.1661,...",0.60,False,NaN,NaN,NaN,NaN,NaN
19,4346,13,Feb 24 (cont),"[{'pageNumber': 5, 'polygon': [0.6965, 2.606, ...",0.80,False,NaN,NaN,NaN,NaN,NaN
20,4649,1,-,"[{'pageNumber': 5, 'polygon': [2.4355, 3.5346,...",0.40,True,NaN,NaN,NaN,NaN,NaN
21,4651,6,Feb 26,"[{'pageNumber': 5, 'polygon': [0.6918, 4.6339,...",0.95,False,NaN,NaN,NaN,NaN,NaN
22,4658,6,Feb 27,"[{'pageNumber': 5, 'polygon': [0.6729, 5.8079,...",0.90,False,NaN,NaN,NaN,NaN,NaN
23,4665,6,Feb 28,"[{'pageNumber': 5, 'polygon': [0.6539, 7.1688,...",0.95,False,NaN,NaN,NaN,NaN,NaN
24,4960,1,-,"[{'pageNumber': 5, 'polygon': [2.426, 4.705, 2...",0.70,True,NaN,NaN,NaN,NaN,NaN
25,4962,1,.,"[{'pageNumber': 5, 'polygon': [2.9473, 4.8329,...",0.95,False,NaN,NaN,NaN,NaN,NaN

In [160]:
df_merged4[df_merged4['isHandwritten'] == True]
df_merged4

,offset,length,content,boundingRegions,confidence,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",0.95,False,NaN,NaN,NaN,NaN,NaN
1,36,7,CR 1.03,"[{'pageNumber': 1, 'polygon': [6.7387, 1.3306,...",1.00,True,NaN,NaN,NaN,NaN,NaN
2,224,10,Dear Så **,"[{'pageNumber': 1, 'polygon': [1.4779, 4.4896,...",0.90,False,NaN,NaN,NaN,NaN,NaN
3,443,5,"7,407","[{'pageNumber': 1, 'polygon': [5.2934, 5.8106,...",0.90,False,NaN,NaN,NaN,NaN,NaN
4,1286,5,Atts.,"[{'pageNumber': 1, 'polygon': [1.5459, 10.3433...",0.90,False,NaN,NaN,NaN,NaN,NaN
5,1292,5,ASter,"[{'pageNumber': 1, 'polygon': [1.5572, 9.9795,...",0.95,False,NaN,NaN,NaN,NaN,NaN
6,1308,14,Costa Rica Pre,"[{'pageNumber': 2, 'polygon': [6.2395, 0.0901,...",1.00,True,NaN,NaN,NaN,NaN,NaN
7,1323,31,Union Oil Company of California,"[{'pageNumber': 2, 'polygon': [3.1277, 1.1419,...",0.95,False,NaN,NaN,NaN,NaN,NaN
8,1355,8,CR. 1.03,"[{'pageNumber': 2, 'polygon': [6.5255, 0.905, ...",1.00,True,NaN,NaN,NaN,NaN,NaN
9,1538,7,2/23/55,"[{'pageNumber': 2, 'polygon': [3.3741, 2.6439,...",0.80,False,NaN,NaN,NaN,NaN,NaN
10,1546,10,Completed:,"[{'pageNumber': 2, 'polygon': [2.4074, 2.8381,...",0.95,False,NaN,NaN,NaN,NaN,NaN
11,1557,7,4/19/55,"[{'pageNumber': 2, 'polygon': [3.3552, 2.8239,...",0.90,False,NaN,NaN,NaN,NaN,NaN
12,2071,34,List of material received to date:,"[{'pageNumber': 2, 'polygon': [1.7626, 7.6616,...",0.90,False,NaN,NaN,NaN,NaN,NaN
13,2143,15,"2,100' - 3,051'","[{'pageNumber': 2, 'polygon': [3.104, 8.3249, ...",0.90,False,NaN,NaN,NaN,NaN,NaN
14,2233,4,ES-3,"[{'pageNumber': 2, 'polygon': [2.5116, 9.0025,...",0.90,False,NaN,NaN,NaN,NaN,NaN
15,2304,4,ES-5,"[{'pageNumber': 2, 'polygon': [2.5164, 9.5, 2....",0.80,False,NaN,NaN,NaN,NaN,NaN
16,2309,15,"4,100' - 5,290'","[{'pageNumber': 2, 'polygon': [3.1893, 9.5, 4....",0.95,False,NaN,NaN,NaN,NaN,NaN
17,2554,8,3/21/58.,"[{'pageNumber': 3, 'polygon': [1.4489, 4.9069,...",0.90,False,NaN,NaN,NaN,NaN,NaN
18,2563,8,CR.I. ..,"[{'pageNumber': 4, 'polygon': [7.0467, 0.1661,...",0.60,False,NaN,NaN,NaN,NaN,NaN
19,4346,13,Feb 24 (cont),"[{'pageNumber': 5, 'polygon': [0.6965, 2.606, ...",0.80,False,NaN,NaN,NaN,NaN,NaN
20,4649,1,-,"[{'pageNumber': 5, 'polygon': [2.4355, 3.5346,...",0.40,True,NaN,NaN,NaN,NaN,NaN
21,4651,6,Feb 26,"[{'pageNumber': 5, 'polygon': [0.6918, 4.6339,...",0.95,False,NaN,NaN,NaN,NaN,NaN
22,4658,6,Feb 27,"[{'pageNumber': 5, 'polygon': [0.6729, 5.8079,...",0.90,False,NaN,NaN,NaN,NaN,NaN
23,4665,6,Feb 28,"[{'pageNumber': 5, 'polygon': [0.6539, 7.1688,...",0.95,False,NaN,NaN,NaN,NaN,NaN
24,4960,1,-,"[{'pageNumber': 5, 'polygon': [2.426, 4.705, 2...",0.70,True,NaN,NaN,NaN,NaN,NaN
25,4962,1,.,"[{'pageNumber': 5, 'polygon': [2.9473, 4.8329,...",0.95,False,NaN,NaN,NaN,NaN,NaN

In [ ]:
# ================================

In [41]:
df_unraveled = new_styles.explode('spans')
df_unraveled

,confidence,spans,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
8,1.0,"{'offset': 36, 'length': 7}",True,NaN,NaN,NaN,NaN,NaN
8,1.0,"{'offset': 1308, 'length': 14}",True,NaN,NaN,NaN,NaN,NaN
8,1.0,"{'offset': 1355, 'length': 8}",True,NaN,NaN,NaN,NaN,NaN
8,1.0,"{'offset': 4672, 'length': 1}",True,NaN,NaN,NaN,NaN,NaN
115,0.4,"{'offset': 3186, 'length': 1}",True,NaN,NaN,NaN,NaN,NaN
115,0.4,"{'offset': 4649, 'length': 1}",True,NaN,NaN,NaN,NaN,NaN
123,0.7,"{'offset': 4960, 'length': 1}",True,NaN,NaN,NaN,NaN,NaN

In [137]:
df_merged2 = pd.merge(df_paragraph_spans, df_style_spans, on=['offset', 'length'], how='outer')
df_merged2

,offset,length,content,boundingRegions,confidence,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,1298,9,:barcode:,"[{'pageNumber': 1, 'polygon': [1.5794, 0.4786,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",0.95,False,NaN,NaN,NaN,NaN,NaN
2,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",1.00,NaN,normal,NaN,NaN,NaN,NaN
3,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",1.00,NaN,NaN,bold,NaN,NaN,NaN
4,36,7,CR 1.03,"[{'pageNumber': 1, 'polygon': [6.7387, 1.3306,...",0.99,NaN,NaN,NaN,NaN,#000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
778,2674,9,NaN,NaN,0.40,NaN,NaN,NaN,"FangSong, serif",NaN,NaN
779,4859,100,NaN,NaN,1.00,NaN,NaN,NaN,"Courier New, monospace",NaN,NaN
780,4966,142,NaN,NaN,1.00,NaN,NaN,NaN,"Courier New, monospace",NaN,NaN
781,5280,48,NaN,NaN,1.00,NaN,NaN,NaN,"Courier New, monospace",NaN,NaN
782,5422,93,NaN,NaN,1.00,NaN,NaN,NaN,"Courier New, monospace",NaN,NaN

In [140]:
df_merged2[df_merged2['offset'] == 4672]

,offset,length,content,boundingRegions,confidence,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
335,4672,269,4 Reamed 4 hrs to 475'. Circ 1 hr to clean hol...,"[{'pageNumber': 5, 'polygon': [3.2743, 3.4967,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
522,4672,1,NaN,NaN,1.00,True,NaN,NaN,NaN,NaN,NaN
523,4672,1,NaN,NaN,0.99,NaN,NaN,NaN,NaN,#050505,NaN
524,4672,1,NaN,NaN,0.99,NaN,NaN,NaN,NaN,NaN,#fefefe

In [146]:
df_style_spans[df_style_spans['offset'] == 4672]

,offset,length,confidence,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
190,4672,1,1.00,True,NaN,NaN,NaN,NaN,NaN
244,4672,1,0.99,NaN,NaN,NaN,NaN,#050505,NaN
695,4672,1,0.99,NaN,NaN,NaN,NaN,NaN,#fefefe

In [147]:
df_style_spans[df_style_spans['offset'] == 1308]

,offset,length,confidence,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
150,1308,1020,0.99,NaN,NaN,NaN,NaN,NaN,#ffffff
188,1308,14,1.00,True,NaN,NaN,NaN,NaN,NaN
258,1308,14,0.99,NaN,NaN,NaN,NaN,#070707,NaN

In [149]:
df_paragraph_spans[df_paragraph_spans['offset'] == 4672]

,offset,length,content,boundingRegions
128,4672,269,4 Reamed 4 hrs to 475'. Circ 1 hr to clean hol...,"[{'pageNumber': 5, 'polygon': [3.2743, 3.4967,..."

In [152]:
 df_merged3 = pd.merge(df_paragraph_spans, df_style_spans, on=['offset'], how='inner')
df_merged3

,offset,length_x,content,boundingRegions,length_y,confidence,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
0,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",35,0.95,False,NaN,NaN,NaN,NaN,NaN
1,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",35,1.00,NaN,normal,NaN,NaN,NaN,NaN
2,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",35,1.00,NaN,NaN,bold,NaN,NaN,NaN
3,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",10,1.00,NaN,NaN,NaN,"Arial, sans-serif",NaN,NaN
4,0,35,HØ12943623 KATALYST DATA MANAGEMENT,"[{'pageNumber': 1, 'polygon': [1.5709, 0.6702,...",10,0.99,NaN,NaN,NaN,NaN,#000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
499,5666,3,79',"[{'pageNumber': 5, 'polygon': [2.4829, 7.3631,...",3,0.99,NaN,NaN,NaN,NaN,#020202,NaN
500,5666,3,79',"[{'pageNumber': 5, 'polygon': [2.4829, 7.3631,...",17,0.99,NaN,NaN,NaN,NaN,NaN,#fefefe
501,5666,3,79',"[{'pageNumber': 5, 'polygon': [2.4829, 7.3631,...",3,0.50,NaN,NaN,NaN,"BIZ UDMincho Medium, serif",NaN,NaN
502,5670,13,117.275 Tormo,"[{'pageNumber': 5, 'polygon': [6.8706, 10.1633...",13,0.99,NaN,NaN,NaN,NaN,#040404,NaN
503,5670,13,117.275 Tormo,"[{'pageNumber': 5, 'polygon': [6.8706, 10.1633...",13,0.90,NaN,NaN,NaN,"Times New Roman, serif",NaN,NaN

In [151]:
df_merged3[df_merged3['isHandwritten'] == True]

,offset,length_x,content,boundingRegions,length_y,confidence,isHandwritten,fontStyle,fontWeight,similarFontFamily,color,backgroundColor
7,36,7,CR 1.03,"[{'pageNumber': 1, 'polygon': [6.7387, 1.3306,...",7,1.0,True,NaN,NaN,NaN,NaN,NaN
102,1308,14,Costa Rica Pre,"[{'pageNumber': 2, 'polygon': [6.2395, 0.0901,...",14,1.0,True,NaN,NaN,NaN,NaN,NaN
109,1355,8,CR. 1.03,"[{'pageNumber': 2, 'polygon': [6.5255, 0.905, ...",8,1.0,True,NaN,NaN,NaN,NaN,NaN
456,4649,1,-,"[{'pageNumber': 5, 'polygon': [2.4355, 3.5346,...",1,0.4,True,NaN,NaN,NaN,NaN,NaN
467,4672,269,4 Reamed 4 hrs to 475'. Circ 1 hr to clean hol...,"[{'pageNumber': 5, 'polygon': [3.2743, 3.4967,...",1,1.0,True,NaN,NaN,NaN,NaN,NaN
474,4960,1,-,"[{'pageNumber': 5, 'polygon': [2.426, 4.705, 2...",1,0.7,True,NaN,NaN,NaN,NaN,NaN