In [17]:
pip list | grep azure

azure-ai-formrecognizer                       3.3.0b1
azure-cognitiveservices-vision-computervision 0.9.0
azure-common                                  1.1.28
azure-core                                    1.26.4

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [11]:
import json
import pandas as pd
from azure.ai.formrecognizer import DocumentAnalysisClient
from azure.core.credentials import AzureKeyCredential


def read_json_file(file_path):
    with open(file_path, 'r') as f:
        return json.load(f)


def create_paragraph_dataframe(data):
    df_paragraph = pd.DataFrame(pd.json_normalize(data)['analyzeResult.paragraphs'][0])
    paragraph_spans = [
        {**span, 'content': row['content'], 'boundingRegions': row['boundingRegions']}
        for _, row in df_paragraph.iterrows()
        for span in row['spans']
    ]
    return pd.DataFrame(paragraph_spans)


def create_style_dataframe(data):
    styles = pd.json_normalize(data)['analyzeResult.styles']
    df_styles = pd.DataFrame(styles[0])
    style_spans = [
        {**span, 'confidence': row['confidence'], 'isHandwritten': row['isHandwritten']}
        for _, row in df_styles.iterrows()
        for span in row['spans']
    ]
    return pd.DataFrame(style_spans)


def merge_dataframes(df_paragraph_spans, df_style_spans):
    df_merged = pd.merge(df_paragraph_spans, df_style_spans, on=['offset', 'length'], how='inner')
    df_bounding_regions_normalized = pd.json_normalize(df_merged['boundingRegions'].explode()).reset_index(drop=True)
    return pd.concat([df_merged.drop(columns=['boundingRegions']), df_bounding_regions_normalized], axis=1)


def form_recognizer(file_path):
    data = read_json_file(file_path)

    df_paragraph_spans = create_paragraph_dataframe(data)
    df_style_spans = create_style_dataframe(data)
    df_handwritten_spans_merged = merge_dataframes(df_paragraph_spans, df_style_spans)

    return df_handwritten_spans_merged[df_handwritten_spans_merged['isHandwritten'] == True]

In [12]:
file_path = '/Users/David.Godinez/Downloads/7b12da4f-7664-433c-9a34-4306c35f1aab_removed.pdf.json'

In [13]:
loaded_json = read_json_file(file_path)
df_paragraph_spans = create_paragraph_dataframe(loaded_json)
df_style_spans = create_style_dataframe(loaded_json)
df_merged = merge_dataframes(df_paragraph_spans, df_style_spans)
# df_form_recognized = form_recognizer(loaded_json)

In [16]:
df_merged

,offset,length,content,confidence,isHandwritten,pageNumber,polygon
0,38,7,CR 1.03,0.95,True,1,"[6.7196, 1.3354, 7.7965, 1.3545, 7.7927, 1.565..."
1,144,1,-,0.50,True,1,"[7.9017, 3.0106, 8.2607, 3.0106, 8.2607, 3.111..."
2,438,6,"7,4071",0.40,True,1,"[5.2934, 5.8059, 5.8007, 5.7867, 5.8007, 5.963..."
3,1326,15,Costa Rica Pire,1.00,True,2,"[6.2495, 0.0899, 7.8655, 0.052, 7.8714, 0.3032..."
4,1374,7,CR.1.03,1.00,True,2,"[6.5255, 0.9145, 7.5259, 0.9621, 7.5159, 1.170..."
5,2834,1,1,0.40,True,4,"[3.7282, 2.1302, 3.8278, 2.1302, 3.8278, 2.229..."
6,2836,1,-,0.50,True,4,"[3.5053, 2.4338, 3.6476, 2.4433, 3.6429, 2.514..."
7,3976,11,"Rec 'd 6'6""",0.60,True,4,"[6.6655, 8.2172, 7.5383, 8.2219, 7.5371, 8.435..."
8,4721,1,-,0.70,True,5,"[2.4065, 4.7055, 2.6813, 4.6913, 2.6867, 4.795..."
9,5004,1,-,0.80,True,5,"[2.4687, 5.8942, 2.6961, 5.88, 2.6961, 5.9795,..."
10,5438,5,"79"" .",0.40,True,5,"[2.4734, 7.3394, 2.7151, 7.3394, 2.7151, 7.590..."
11,5503,2,--,0.50,True,5,"[7.8136, 2.5302, 7.8516, 2.532, 7.8469, 2.6315..."

In [1]:
# using pdf and api

In [15]:
import json
import re 
import os
import pandas as pd
from azure.core.credentials import AzureKeyCredential
from azure.ai.formrecognizer import DocumentAnalysisClient, AnalyzeResult

def analyze_document(file_path):
    # Load the credentials from a JSON file and other necessary steps
    credentials_path = os.path.abspath('credentials2.json')
    with open(credentials_path, 'r') as f:
        credentials = json.load(f)

    subscription_key = credentials['API_key']
    endpoint = credentials['endpoint']

    document_analysis_client = DocumentAnalysisClient(endpoint=endpoint, credential=AzureKeyCredential(subscription_key))

    with open(file_path, "rb") as f:
        file_content = f.read()

    poller = document_analysis_client.begin_analyze_document("prebuilt-read", file_content)
    result = poller.result()
    
    return result

 
    


def create_paragraph_dataframe(analyze_result):
    data = []
    
    for paragraph in analyze_result.paragraphs:
        content = paragraph.content
        bounding_region = paragraph.bounding_regions[0]  # Assuming there's always at least one bounding region
        page_number = bounding_region.page_number
        polygon = [(point.x, point.y) for point in bounding_region.polygon]
        span = paragraph.spans[0]  # Assuming there's always at least one span
        
        data.append({
            "offset": span.offset,
            "length": span.length,
            "content": content,
            "page_number": page_number,
            "polygon": polygon
        })
        
    df_paragraph_spans = pd.DataFrame(data)

    return df_paragraph_spans



def create_style_dataframe(analyze_result):
    data = []

    for style in analyze_result.styles:
        is_handwritten = style.is_handwritten
        confidence = style.confidence
        
        for span in style.spans:
            data.append({
                "confidence": confidence,
                "is_handwritten": is_handwritten,
                "offset": span.offset,
                "length": span.length
            })

    df_style_spans = pd.DataFrame(data)

    return df_style_spans



def merge_dataframes(df_paragraph_spans, df_style_spans):
    df_merged = pd.merge(df_paragraph_spans, df_style_spans, on=['offset', 'length'], how='inner')
    return df_merged.reindex()


def merge_dataframes2(df_paragraph_spans, df_style_spans):
    df_merged = pd.merge(df_paragraph_spans, df_style_spans, on=['offset', 'length'], how='outer')
    # Replace NaN with default values if necessary
    df_merged['confidence'].fillna(0, inplace=True)
    df_merged['is_handwritten'].fillna(False, inplace=True)
    return df_merged.reindex()


def process_analyze_result(filepath: str):
    result = analyze_document(filepath)
    analyzed_result = analyze_result(result)
    df_paragraph_spans = create_paragraph_dataframe(analyzed_result['analyzeResult.paragraphs'][0])
    df_style_spans = create_style_dataframe(analyzed_result['analyzeResult.styles'][0])
    df_handwritten_spans_merged = merge_dataframes(df_paragraph_spans, df_style_spans)

    return df_handwritten_spans_merged[df_handwritten_spans_merged['isHandwritten'] == True]

## First Document

In [4]:
file_path = '/Users/David.Godinez/Desktop/BJSS/exxon3/exxonmobile/files/7b12da4f-7664-433c-9a34-4306c35f1aab_removed.pdf'

In [6]:
result = analyze_document(file_path)

In [7]:
result.api_version

'2023-02-28-preview'

In [8]:
df_paragraph_spans = create_paragraph_dataframe(result)
df_style_spans = create_style_dataframe(result)
df_merged = merge_dataframes(df_paragraph_spans, df_style_spans)
# using inner join on merge
df_merged

,offset,length,content,page_number,polygon,confidence,is_handwritten
0,36,7,CR 1.03,1,"[(6.7387, 1.3306), (7.7821, 1.345), (7.7791, 1...",1.0,True
1,1308,14,Costa Rica Pre,2,"[(6.2395, 0.0901), (7.8714, 0.0474), (7.8778, ...",1.0,True
2,1355,8,CR. 1.03,2,"[(6.5255, 0.905), (7.5254, 0.9618), (7.5136, 1...",1.0,True
3,4649,1,-,5,"[(2.4355, 3.5346), (2.7151, 3.5346), (2.7151, ...",0.4,True
4,4960,1,-,5,"[(2.426, 4.705), (2.7009, 4.705), (2.7009, 4.8...",0.7,True

In [264]:
# using outer join on merge
df_merged_outer = merge_dataframes2(df_paragraph_spans, df_style_spans)
df_merged_outer[df_merged_outer['is_handwritten'] == True].reset_index()

,index,offset,length,content,page_number,polygon,confidence,is_handwritten
0,1,36,7,CR 1.03,1.0,"[(6.7387, 1.3306), (7.7821, 1.345), (7.7791, 1...",1.0,True
1,27,1308,14,Costa Rica Pre,2.0,"[(6.2395, 0.0901), (7.8714, 0.0474), (7.8778, ...",1.0,True
2,29,1355,8,CR. 1.03,2.0,"[(6.5255, 0.905), (7.5254, 0.9618), (7.5136, 1...",1.0,True
3,124,4649,1,-,5.0,"[(2.4355, 3.5346), (2.7151, 3.5346), (2.7151, ...",0.4,True
4,132,4960,1,-,5.0,"[(2.426, 4.705), (2.7009, 4.705), (2.7009, 4.8...",0.7,True
5,140,4672,1,NaN,NaN,NaN,1.0,True
6,141,3186,1,NaN,NaN,NaN,0.4,True

In [9]:
df_paragraph_spans[df_paragraph_spans['offset'] == 4672]

,offset,length,content,page_number,polygon
128,4672,269,4 Reamed 4 hrs to 475'. Circ 1 hr to clean hol...,5,"[(3.2743, 3.4967), (7.7356, 3.5353), (7.7269, ..."

In [254]:
# checking for the offset in paragraph dataframe with NaN as content offset = [4672,3186]
df_paragraph_spans[df_paragraph_spans['offset'] == 3186]

Empty DataFrame
Columns: [offset, length, content, page_number, polygon]
Index: []

In [255]:
df_style_spans[df_style_spans['offset'] == 3186]

   confidence  is_handwritten  offset  length
4         0.4            True    3186       1

| OCR Predictions        | Manual Counts     |
| ----------- | ----------- |
| 5      | 4      |

|            | Actual Positive | Actual Negative |
|------------|-----------------|-----------------|
| Predicted Positive | 3            | 4            |
| Predicted Negative | -            | -            |

In [253]:
# ============================= experimental wing =============================

In [284]:
def merge_dataframes3(df_paragraph_spans, df_style_spans):
    df_merged = pd.merge(df_paragraph_spans, df_style_spans, on=['offset', 'length'], how='outer')
    # Replace NaN with default values if necessary
    df_merged['confidence'].fillna(0, inplace=True)
    df_merged['is_handwritten'].fillna(False, inplace=True)
    return df_merged.reindex()

In [285]:
df_merged_experimental = merge_dataframes3(df_paragraph_spans, df_style_spans)
df_merged_experimental[(df_merged_experimental['is_handwritten'] == True)]

,offset,length,content,page_number,polygon,confidence,is_handwritten
1,36,7,CR 1.03,1.0,"[(6.7387, 1.3306), (7.7821, 1.345), (7.7791, 1...",1.0,True
27,1308,14,Costa Rica Pre,2.0,"[(6.2395, 0.0901), (7.8714, 0.0474), (7.8778, ...",1.0,True
29,1355,8,CR. 1.03,2.0,"[(6.5255, 0.905), (7.5254, 0.9618), (7.5136, 1...",1.0,True
124,4649,1,-,5.0,"[(2.4355, 3.5346), (2.7151, 3.5346), (2.7151, ...",0.4,True
132,4960,1,-,5.0,"[(2.426, 4.705), (2.7009, 4.705), (2.7009, 4.8...",0.7,True
140,4672,1,NaN,NaN,NaN,1.0,True
141,3186,1,NaN,NaN,NaN,0.4,True

In [277]:
df_merged_experimental = merge_dataframes3(df_paragraph_spans, df_style_spans)
df_merged_experimental[(df_merged_experimental['is_handwritten'] == True) 
                        & (df_merged_experimental['length']>1)
                        & (df_merged_experimental['content'].notnull()) 
                        & (df_merged_experimental['confidence'] > 0.5)].reset_index()

,index,offset,length,content,page_number,polygon,confidence,is_handwritten
0,1,36,7,CR 1.03,1.0,"[(6.7387, 1.3306), (7.7821, 1.345), (7.7791, 1...",1.0,True
1,27,1308,14,Costa Rica Pre,2.0,"[(6.2395, 0.0901), (7.8714, 0.0474), (7.8778, ...",1.0,True
2,29,1355,8,CR. 1.03,2.0,"[(6.5255, 0.905), (7.5254, 0.9618), (7.5136, 1...",1.0,True

| OCR Predictions        | Manual Counts     |
| ----------- | ----------- |
| 3      | 4      |

|            | Actual Positive | Actual Negative |
|------------|-----------------|-----------------|
| Predicted Positive | 3            | 0            |
| Predicted Negative | -            | -            |

Tradeoffs/Notes: 
- Document features: noise, faded text no signatures

In [ ]:
# =================================================================

---

## Second Document

In [11]:
file_path2 = '/Users/David.Godinez/Downloads/24555770__AMERICAS__Costa-Rica_truncated_1-5.pdf'

In [12]:
result2 = analyze_document(file_path2)

In [13]:
result2.api_version

'2023-02-28-preview'

In [16]:
df_paragraph_spans2 = create_paragraph_dataframe(result2)
df_style_spans2 = create_style_dataframe(result2)
df_merged2 = merge_dataframes(df_paragraph_spans2, df_style_spans2)
# using inner merge
df_merged2

,offset,length,content,page_number,polygon,confidence,is_handwritten
0,0,8,CR. 1.05,1,"[(5.9857, 0.4293), (6.9746, 0.4073), (6.9795, ...",1.00,True
1,233,1,-,1,"[(5.0647, 2.8321), (5.2913, 2.8115), (5.3056, ...",0.95,True
2,727,7,CR.1.05,2,"[(6.6163, 0.3615), (7.7631, 0.3567), (7.7643, ...",1.00,True
3,1010,26,Report is filed in CR 3.13,2,"[(5.0446, 2.3924), (7.3884, 2.3638), (7.3968, ...",1.00,True
4,1828,7,9/2/167,2,"[(4.4021, 8.0683), (5.1628, 7.9286), (5.2008, ...",1.00,True
5,1856,20,Brussell 14 Jeffords,2,"[(5.3054, 8.2663), (7.4161, 8.1759), (7.4351, ...",1.00,True
6,1971,7,CR.1.05,3,"[(6.5367, 0.3915), (7.5033, 0.4011), (7.5012, ...",1.00,True
7,2002,36,que also demmary paleo rpt - CR-3.13,3,"[(2.841, 0.8355), (7.5605, 0.8689), (7.5585, 1...",1.00,True
8,4018,1,-,4,"[(7.2826, 6.8593), (7.4015, 6.8665), (7.3909, ...",0.95,True
9,4116,5,- 2 -,5,"[(4.0339, 0.9741), (4.504, 0.9741), (4.504, 1....",0.40,True
10,4378,21,E.D. Ackerman by D.H.,5,"[(2.0817, 4.9712), (4.9165, 4.9328), (4.9213, ...",1.00,True
11,4406,13,"Mas. 21, 1966",5,"[(6.0053, 4.9856), (7.4155, 4.9856), (7.4155, ...",1.00,True
12,4504,12,12 Apr. 1966,5,"[(6.1156, 6.3819), (7.5258, 6.3867), (7.521, 6...",1.00,True

In [213]:
# using outer merge
df_merged_outer = merge_dataframes2(df_paragraph_spans2, df_style_spans2)
df_merged_outer[df_merged_outer['is_handwritten'] == True].reset_index()

,index,offset,length,content,page_number,polygon,confidence,is_handwritten
0,0,0,8,CR. 1.05,1.0,"[(5.9857, 0.4293), (6.9746, 0.4073), (6.9795, ...",1.00,True
1,6,233,1,-,1.0,"[(5.0647, 2.8321), (5.2913, 2.8115), (5.3056, ...",0.95,True
2,17,727,7,CR.1.05,2.0,"[(6.6163, 0.3615), (7.7631, 0.3567), (7.7643, ...",1.00,True
3,22,1010,26,Report is filed in CR 3.13,2.0,"[(5.0446, 2.3924), (7.3884, 2.3638), (7.3968, ...",1.00,True
4,30,1828,7,9/2/167,2.0,"[(4.4021, 8.0683), (5.1628, 7.9286), (5.2008, ...",1.00,True
5,32,1856,20,Brussell 14 Jeffords,2.0,"[(5.3054, 8.2663), (7.4161, 8.1759), (7.4351, ...",1.00,True
6,35,1971,7,CR.1.05,3.0,"[(6.5367, 0.3915), (7.5033, 0.4011), (7.5012, ...",1.00,True
7,37,2002,36,que also demmary paleo rpt - CR-3.13,3.0,"[(2.841, 0.8355), (7.5605, 0.8689), (7.5585, 1...",1.00,True
8,91,4018,1,-,4.0,"[(7.2826, 6.8593), (7.4015, 6.8665), (7.3909, ...",0.95,True
9,101,4116,5,- 2 -,5.0,"[(4.0339, 0.9741), (4.504, 0.9741), (4.504, 1....",0.40,True
10,117,4378,21,E.D. Ackerman by D.H.,5.0,"[(2.0817, 4.9712), (4.9165, 4.9328), (4.9213, ...",1.00,True
11,119,4406,13,"Mas. 21, 1966",5.0,"[(6.0053, 4.9856), (7.4155, 4.9856), (7.4155, ...",1.00,True
12,125,4504,12,12 Apr. 1966,5.0,"[(6.1156, 6.3819), (7.5258, 6.3867), (7.521, 6...",1.00,True
13,131,2774,114,NaN,NaN,NaN,1.00,True
14,132,3261,1,NaN,NaN,NaN,1.00,True
15,133,4475,22,NaN,NaN,NaN,1.00,True
16,134,3350,3,NaN,NaN,NaN,0.40,True

In [10]:
# check [2774,3261, 4475, 3350]
df_paragraph_spans2[df_paragraph_spans2['offset'] == 4475]

NameError: name 'df_paragraph_spans2' is not defined

In [262]:
df_style_spans2[df_style_spans2['offset'] == 4475]

    confidence  is_handwritten  offset  length
15         0.4            True    3350       3

In [ ]:
# merge on offset and drop less than length of 2; set confidence score of greater than .90
# how might we identify handwriting that wasn't captured 
# next presentation:  have confusion matrix with confidence constraints 
# look at tradeoffs - minimize false positives (we don't mind false negs rn)

| OCR Predictions        | Manual Counts     |
| ----------- | ----------- |
| 13      | 15      |

|            | Actual Positive | Actual Negative |
|------------|-----------------|-----------------|
| Predicted Positive | 10            | 3            |
| Predicted Negative | -            | -            |

In [ ]:
# ========================================= experimental wing document 2 =========================================

In [286]:
# merge_dataframes3 is outer merge of dataframes merging only on 'offset'

df_merged_experimental2 = merge_dataframes3(df_paragraph_spans2, df_style_spans2)
df_merged_experimental2[(df_merged_experimental2['is_handwritten'] == True) 
                        & (df_merged_experimental2['length']>1) 
                        & (df_merged_experimental2['content'].notnull()) 
                        # discuss confidence at this point. generally, really high confidence not needed  
                        & (df_merged_experimental2['confidence'] > 0.5)].reset_index()

,index,offset,length,content,page_number,polygon,confidence,is_handwritten
0,0,0,8,CR. 1.05,1.0,"[(5.9857, 0.4293), (6.9746, 0.4073), (6.9795, ...",1.0,True
1,17,727,7,CR.1.05,2.0,"[(6.6163, 0.3615), (7.7631, 0.3567), (7.7643, ...",1.0,True
2,22,1010,26,Report is filed in CR 3.13,2.0,"[(5.0446, 2.3924), (7.3884, 2.3638), (7.3968, ...",1.0,True
3,30,1828,7,9/2/167,2.0,"[(4.4021, 8.0683), (5.1628, 7.9286), (5.2008, ...",1.0,True
4,32,1856,20,Brussell 14 Jeffords,2.0,"[(5.3054, 8.2663), (7.4161, 8.1759), (7.4351, ...",1.0,True
5,35,1971,7,CR.1.05,3.0,"[(6.5367, 0.3915), (7.5033, 0.4011), (7.5012, ...",1.0,True
6,37,2002,36,que also demmary paleo rpt - CR-3.13,3.0,"[(2.841, 0.8355), (7.5605, 0.8689), (7.5585, 1...",1.0,True
7,117,4378,21,E.D. Ackerman by D.H.,5.0,"[(2.0817, 4.9712), (4.9165, 4.9328), (4.9213, ...",1.0,True
8,119,4406,13,"Mas. 21, 1966",5.0,"[(6.0053, 4.9856), (7.4155, 4.9856), (7.4155, ...",1.0,True
9,125,4504,12,12 Apr. 1966,5.0,"[(6.1156, 6.3819), (7.5258, 6.3867), (7.521, 6...",1.0,True

| OCR Predictions        | Manual Counts     |
| ----------- | ----------- |
| 10      | 15      |

|            | Actual Positive | Actual Negative |
|------------|-----------------|-----------------|
| Predicted Positive | 10            |    0         |
| Predicted Negative | -            | -            |

Tradeoffs/Notes:

- document features: Noise, signatures, some faded text
- filtering by len of characters appropriately takes away noise, such as dashes.
- filtering by removing NaN's in this case proved beneficial as only one of the three NaN's were actually handwritten even though 3 of them had a confidence of 1. 
- confidence was able to filter out remaining noise.

In [ ]:
# ========================================================

## Document 3

In [195]:
file_path3 = '/Users/David.Godinez/Downloads/24769174__AMERICAS__Costa-Rica_truncated1-5.pdf'

In [196]:
result3 = analyze_document(file_path3)

In [202]:
df_paragraph_spans3 = create_paragraph_dataframe(result3)
df_style_spans3 = create_style_dataframe(result3)
df_merged3 = merge_dataframes2(df_paragraph_spans3, df_style_spans3)
df_merged3

,offset,length,content,page_number,polygon,confidence,is_handwritten
0,0,35,H013014201 KATALYST DATA MANAGEMENT,1.0,"[(6.0632, 0.608), (7.2518, 0.5597), (7.2625, 0...",0.0,False
1,36,73,"GEOLOGIC RECONNAISSANCE SURVEY, PROVINCE OF GU...",1.0,"[(2.1797, 4.4258), (5.5894, 4.4545), (5.5869, ...",0.0,False
2,110,40,by W. E. Wallis & M. H. Wallace CR. 3.07,1.0,"[(2.2198, 4.9035), (5.1274, 4.6813), (5.157, 5...",0.0,False
3,151,4,1943,1.0,"[(5.3284, 5.107), (5.6587, 5.107), (5.6587, 5....",0.0,False
4,156,55,RETURN TO: ESSO EXPLORATION INC. CENTRAL FILES...,1.0,"[(2.7192, 6.117), (4.9541, 5.9982), (4.9982, 6...",0.0,False
...,...,...,...,...,...,...,...
134,3212,168,"of Puntarenas, "" by Messrs. W. E. Ballis and M...",5.0,"[(1.1819, 4.7768), (7.4071, 4.8294), (7.3998, ...",0.0,False
135,3381,32,"Yours very truly, Walter K. Link",5.0,"[(4.9989, 5.8249), (6.4453, 5.8394), (6.4402, ...",0.0,False
136,3414,196,P. S. On Plate III the Guiones Limestone-Carri...,5.0,"[(1.2441, 7.1119), (7.3593, 7.1173), (7.3589, ...",0.0,False
137,222,6,NaN,NaN,NaN,0.7,True
138,3047,8,NaN,NaN,NaN,1.0,True

In [240]:
df_merged3[df_merged3['is_handwritten'] == True].reset_index()

,index,offset,length,content,page_number,polygon,confidence,is_handwritten
0,0,0,8,CR. 1.05,1.0,"[(5.9857, 0.4293), (6.9746, 0.4073), (6.9795, ...",1.00,True
1,6,233,1,-,1.0,"[(5.0647, 2.8321), (5.2913, 2.8115), (5.3056, ...",0.95,True
2,17,727,7,CR.1.05,2.0,"[(6.6163, 0.3615), (7.7631, 0.3567), (7.7643, ...",1.00,True
3,22,1010,26,Report is filed in CR 3.13,2.0,"[(5.0446, 2.3924), (7.3884, 2.3638), (7.3968, ...",1.00,True
4,30,1828,7,9/2/167,2.0,"[(4.4021, 8.0683), (5.1628, 7.9286), (5.2008, ...",1.00,True
5,32,1856,20,Brussell 14 Jeffords,2.0,"[(5.3054, 8.2663), (7.4161, 8.1759), (7.4351, ...",1.00,True
6,35,1971,7,CR.1.05,3.0,"[(6.5367, 0.3915), (7.5033, 0.4011), (7.5012, ...",1.00,True
7,37,2002,36,que also demmary paleo rpt - CR-3.13,3.0,"[(2.841, 0.8355), (7.5605, 0.8689), (7.5585, 1...",1.00,True
8,91,4018,1,-,4.0,"[(7.2826, 6.8593), (7.4015, 6.8665), (7.3909, ...",0.95,True
9,101,4116,5,- 2 -,5.0,"[(4.0339, 0.9741), (4.504, 0.9741), (4.504, 1....",0.40,True
10,117,4378,21,E.D. Ackerman by D.H.,5.0,"[(2.0817, 4.9712), (4.9165, 4.9328), (4.9213, ...",1.00,True
11,119,4406,13,"Mas. 21, 1966",5.0,"[(6.0053, 4.9856), (7.4155, 4.9856), (7.4155, ...",1.00,True
12,125,4504,12,12 Apr. 1966,5.0,"[(6.1156, 6.3819), (7.5258, 6.3867), (7.521, 6...",1.00,True
13,131,2774,114,NaN,NaN,NaN,1.00,True
14,132,3261,1,NaN,NaN,NaN,1.00,True
15,133,4475,22,NaN,NaN,NaN,1.00,True
16,134,3350,3,NaN,NaN,NaN,0.40,True

| OCR Predictions        | Manual Counts     |
| ----------- | ----------- |
| 14      | 11      |

|            | Actual Positive | Actual Negative |
|------------|-----------------|-----------------|
| Predicted Positive | 9            | 5            |
| Predicted Negative | -            | -            |

In [246]:
# ======================= experimental wing document 3 ========================

In [245]:
df_merged_experimental3 = merge_dataframes3(df_paragraph_spans3, df_style_spans3)
df_merged_experimental3[(df_merged_experimental3['is_handwritten'] == True) 
                        & (df_merged_experimental3['length']>1) 
                        & (df_merged_experimental3['content'].notnull()) 
                        & (df_merged_experimental3['confidence'] > 0.8)].reset_index()

,index,offset,length,content,page_number,polygon,confidence,is_handwritten
0,11,377,8,CR. 3.07,2.0,"[(6.5275, 0.5703), (7.5486, 0.5895), (7.544, 0...",1.00,True
1,20,602,7,1-13-66,2.0,"[(6.8536, 2.3962), (7.793, 2.3722), (7.7978, 2...",1.00,True
2,33,778,7,CR.3.07,2.0,"[(0.647, 5.2908), (1.5028, 5.1802), (1.5289, 5...",0.95,True
3,35,948,7,CR.3.05,2.0,"[(0.6556, 6.1728), (1.5145, 5.9857), (1.5584, ...",1.00,True
4,38,1269,7,CR.3.09,2.0,"[(0.7573, 6.8244), (1.5986, 6.6906), (1.6321, ...",1.00,True
5,46,1411,2,14,3.0,"[(3.4032, 1.5255), (3.7083, 1.514), (3.719, 1....",1.00,True
6,48,1430,7,CR 3.07,3.0,"[(6.2164, 1.1053), (7.3793, 1.0995), (7.3804, ...",1.00,True

| OCR Predictions        | Manual Counts     |
| ----------- | ----------- |
| 7      | 11      |

|            | Actual Positive | Actual Negative |
|------------|-----------------|-----------------|
| Predicted Positive | 7            | 0            |
| Predicted Negative | -            | -            |

In [ ]:
# ====================================

## Document Four

In [287]:
file_path4 = '/Users/David.Godinez/Downloads/25769174__AMERICAS__Costa-Rica_truncated_19-end.pdf'

In [288]:
result4 = analyze_document(file_path4)

In [292]:
df_paragraph_spans4 = create_paragraph_dataframe(result4)
df_style_spans4 = create_style_dataframe(result4)
df_merged4 = merge_dataframes3(df_paragraph_spans4, df_style_spans4)
df_merged4[df_merged4['is_handwritten'] == True]

,offset,length,content,page_number,polygon,confidence,is_handwritten
3,113,6,Sin NW,1,"[(5.474, 4.7745), (6.4502, 4.8018), (6.4432, 5...",0.70,True
11,173,1,-,1,"[(5.9343, 8.4989), (6.0804, 8.4989), (6.0804, ...",0.90,True
18,245,9,CR. 3. 07,1,"[(5.918, 11.7414), (6.8613, 11.7468), (6.8601,...",1.00,True
50,3788,9,CR. 3. 07,4,"[(6.2818, 10.5932), (7.0814, 10.598), (7.0801,...",0.95,True
58,4014,9,CR. 3. 07,5,"[(6.3917, 10.6315), (7.214, 10.6315), (7.214, ...",0.95,True
65,4239,8,CR. 3.on,6,"[(7.0993, 10.5989), (7.892, 10.6133), (7.8888,...",0.95,True

In [295]:
df_merged4[(df_merged4['is_handwritten'] == True) 
                        & (df_merged4['length']>1) 
                        & (df_merged4['content'].notnull()) 
                        & (df_merged4['confidence'] > 0.5)].reset_index()

,index,offset,length,content,page_number,polygon,confidence,is_handwritten
0,3,113,6,Sin NW,1,"[(5.474, 4.7745), (6.4502, 4.8018), (6.4432, 5...",0.70,True
1,18,245,9,CR. 3. 07,1,"[(5.918, 11.7414), (6.8613, 11.7468), (6.8601,...",1.00,True
2,50,3788,9,CR. 3. 07,4,"[(6.2818, 10.5932), (7.0814, 10.598), (7.0801,...",0.95,True
3,58,4014,9,CR. 3. 07,5,"[(6.3917, 10.6315), (7.214, 10.6315), (7.214, ...",0.95,True
4,65,4239,8,CR. 3.on,6,"[(7.0993, 10.5989), (7.892, 10.6133), (7.8888,...",0.95,True

| OCR Predictions        | Manual Counts     |
| ----------- | ----------- |
| 4      | 4      |

|            | Actual Positive | Actual Negative |
|------------|-----------------|-----------------|
| Predicted Positive | 4            | 0            |
| Predicted Negative | -            | -            |

In [ ]:
# Find highest we can set confidence threshold without affecting universal true positives 
# show full confusion matrix
# can we have boxed around handwriting be a different color

In [74]:
def create_style_dataframe(styles):
    data = []

    for style in styles[0]:
        is_handwritten = style.is_handwritten
        confidence = style.confidence

        for span in style.spans:
            data.append({
                "confidence": confidence,
                "is_handwritten": is_handwritten,
                "offset": span.offset,
                "length": span.length
            })

    df_style_spans = pd.DataFrame(data)

    return df_style_spans

In [75]:
styles = analyzed_result['analyzeResult.styles']
df_style_spans = create_style_dataframe(styles)
df_style_spans

AttributeError: 'str' object has no attribute 'is_handwritten'

In [66]:
result.styles[2]

DocumentStyle(is_handwritten=True, spans=[DocumentSpan(offset=4960, length=1)], confidence=0.7, similar_font_family=None, font_style=None, font_weight=None, color=None, background_color=None)

In [69]:
styles = analyzed_result['analyzeResult.styles']

In [73]:
styles[0]

'[DocumentStyle(is_handwritten=True, spans=[DocumentSpan(offset=0, length=8), DocumentSpan(offset=727, length=7), DocumentSpan(offset=1010, length=26), DocumentSpan(offset=1828, length=7), DocumentSpan(offset=1856, length=20), DocumentSpan(offset=1971, length=7), DocumentSpan(offset=2002, length=36), DocumentSpan(offset=2774, length=114), DocumentSpan(offset=3261, length=1), DocumentSpan(offset=4378, length=21), DocumentSpan(offset=4406, length=13), DocumentSpan(offset=4475, length=22), DocumentSpan(offset=4504, length=12)], confidence=1.0, similar_font_family=None, font_style=None, font_weight=None, color=None, background_color=None), DocumentStyle(is_handwritten=True, spans=[DocumentSpan(offset=233, length=1), DocumentSpan(offset=4018, length=1)], confidence=0.95, similar_font_family=None, font_style=None, font_weight=None, color=None, background_color=None), DocumentStyle(is_handwritten=True, spans=[DocumentSpan(offset=3350, length=3), DocumentSpan(offset=4116, length=5)], confidence=0.4, similar_font_family=None, font_style=None, font_weight=None, color=None, background_color=None)]'

In [78]:
result.styles

[DocumentStyle(is_handwritten=True, spans=[DocumentSpan(offset=36, length=7), DocumentSpan(offset=1308, length=14), DocumentSpan(offset=1355, length=8), DocumentSpan(offset=4672, length=1)], confidence=1.0, similar_font_family=None, font_style=None, font_weight=None, color=None, background_color=None),
 DocumentStyle(is_handwritten=True, spans=[DocumentSpan(offset=3186, length=1), DocumentSpan(offset=4649, length=1)], confidence=0.4, similar_font_family=None, font_style=None, font_weight=None, color=None, background_color=None),
 DocumentStyle(is_handwritten=True, spans=[DocumentSpan(offset=4960, length=1)], confidence=0.7, similar_font_family=None, font_style=None, font_weight=None, color=None, background_color=None)]

In [98]:
for a in range(len(result.styles)):
    b = result.styles[a].to_dict()
    print(f"confidence: {b['confidence']}: spans: {b['spans']}\n")

confidence: 1.0: spans: [{'offset': 36, 'length': 7}, {'offset': 1308, 'length': 14}, {'offset': 1355, 'length': 8}, {'offset': 4672, 'length': 1}]

confidence: 0.4: spans: [{'offset': 3186, 'length': 1}, {'offset': 4649, 'length': 1}]

confidence: 0.7: spans: [{'offset': 4960, 'length': 1}]

In [102]:
b = result.styles

DocumentStyle(is_handwritten=True, spans=[DocumentSpan(offset=36, length=7), DocumentSpan(offset=1308, length=14), DocumentSpan(offset=1355, length=8), DocumentSpan(offset=4672, length=1)], confidence=1.0, similar_font_family=None, font_style=None, font_weight=None, color=None, background_color=None)

In [117]:
for a in range(len(result2.styles)):
    b = result.styles[a].to_dict()
    print(f"confidence: {b['confidence']}: spans: {b['spans']}\n")

confidence: 1.0: spans: [{'offset': 36, 'length': 7}, {'offset': 1308, 'length': 14}, {'offset': 1355, 'length': 8}, {'offset': 4672, 'length': 1}]

confidence: 0.4: spans: [{'offset': 3186, 'length': 1}, {'offset': 4649, 'length': 1}]

confidence: 0.7: spans: [{'offset': 4960, 'length': 1}]

In [121]:
analyzed_result2['analyzeResult.paragraphs'][0]

'[DocumentParagraph(role=None, content=CR. 1.05, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=5.9857, y=0.4293), Point(x=6.9746, y=0.4073), Point(x=6.9795, y=0.6291), Point(x=5.9907, y=0.651)])], spans=[DocumentSpan(offset=0, length=8)]), DocumentParagraph(role=None, content=December 10, 1969, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=1.4711, y=1.1429), Point(x=2.9375, y=1.1429), Point(x=2.9375, y=1.3358), Point(x=1.4711, y=1.3358)])], spans=[DocumentSpan(offset=9, length=17)]), DocumentParagraph(role=None, content=Logs of Costa Rica Wells., bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=1.4567, y=1.6638), Point(x=3.5983, y=1.6638), Point(x=3.5983, y=1.8567), Point(x=1.4567, y=1.8567)])], spans=[DocumentSpan(offset=27, length=25)]), DocumentParagraph(role=None, content=H012943680 KATALYST DATA MANAGEMENT, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=5.1417, y=1.3648), Point(x=6.3393, y=1.3405), Point(x=6.3447, y=1.6107), Point(x=5.1472, y=1.6349)])], spans=[DocumentSpan(offset=53, length=35)]), DocumentParagraph(role=None, content=Victoria-1, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=1.4663, y=2.011), Point(x=2.349, y=2.011), Point(x=2.349, y=2.175), Point(x=1.4663, y=2.175)])], spans=[DocumentSpan(offset=89, length=10)]), DocumentParagraph(role=None, content=composite log electric log, 10 runs, 1:600 electric log, 9 runs, 1:240- electric log, 1:2400, 1:1200 on one sheet sonic log dipmeter, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=1.4567, y=2.3582), Point(x=5.0191, y=2.3731), Point(x=5.0149, y=3.3876), Point(x=1.4524, y=3.3727)])], spans=[DocumentSpan(offset=100, length=132)]), DocumentParagraph(role=None, content=-, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=5.0647, y=2.8321), Point(x=5.2913, y=2.8115), Point(x=5.3056, y=2.9694), Point(x=5.079, y=2.99)])], spans=[DocumentSpan(offset=233, length=1)]), DocumentParagraph(role=None, content=laterolog, 2 runs, 1:600 laterolog, 2 runs, 1:240- grapholog completion log , collar log of casing microlaterolog, 1:240 temperature log microlog, 5 runs mudlog, 1:200, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=1.4483, y=3.3662), Point(x=3.6412, y=3.3611), Point(x=3.6448, y=4.9043), Point(x=1.4518, y=4.9093)])], spans=[DocumentSpan(offset=235, length=167)]), DocumentParagraph(role=None, content=Limon-1, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=1.4615, y=5.4157), Point(x=2.0945, y=5.4205), Point(x=2.0934, y=5.57), Point(x=1.4604, y=5.5652)])], spans=[DocumentSpan(offset=403, length=7)]), DocumentParagraph(role=None, content=electric log, 5 runs, 1:200 electric log, run 1, 1:500 company electric log, 1:200 litholog grapholog Coregraph continuous dipmeter microlog, 2 runs, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=1.4518, y=5.7485), Point(x=3.8057, y=5.7485), Point(x=3.8057, y=7.1277), Point(x=1.4518, y=7.1277)])], spans=[DocumentSpan(offset=411, length=148)]), DocumentParagraph(role=None, content=El Tigre-1, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=1.4422, y=7.6051), Point(x=2.3567, y=7.6196), Point(x=2.3538, y=7.8029), Point(x=1.4393, y=7.7883)])], spans=[DocumentSpan(offset=560, length=10)]), DocumentParagraph(role=None, content=grapholog company electric log, 1:200 litholog Schlumberger log, 1:200, 1:500 microlog, 1:200, 1:500, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=1.447, y=7.9793), Point(x=4.034, y=7.9858), Point(x=4.0319, y=8.8317), Point(x=1.4449, y=8.8252)])], spans=[DocumentSpan(offset=571, length=100)]), DocumentParagraph(role=None, content=RETURN TO:, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=5.1417, y=8.8156), Point(x=6.1836, y=8.8156), Point(x=6.1836, y=9.0037), Point(x=5.1417, y=9.0037)])], spans=[DocumentSpan(offset=672, length=10)]), DocumentParagraph(role=None, content=ESSO EXPLORATION INC., bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=5.3763, y=9.0471), Point(x=7.3991, y=9.0278), Point(x=7.4009, y=9.2207), Point(x=5.3781, y=9.24)])], spans=[DocumentSpan(offset=683, length=21)]), DocumentParagraph(role=None, content=ES, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=6.4537, y=9.2641), Point(x=6.6418, y=9.2544), Point(x=6.6507, y=9.4276), Point(x=6.4626, y=9.4372)])], spans=[DocumentSpan(offset=705, length=2)]), DocumentParagraph(role=None, content=ROOM SIS, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=5.3781, y=9.4618), Point(x=6.2484, y=9.4715), Point(x=6.2463, y=9.6644), Point(x=5.376, y=9.6547)])], spans=[DocumentSpan(offset=708, length=8)]), DocumentParagraph(role=None, content=:barcode:, bounding_regions=[BoundingRegion(page_number=1, polygon=[Point(x=5.1225, y=1.1767), Point(x=6.8396, y=1.1429), Point(x=6.8444, y=1.331), Point(x=5.1273, y=1.3696)])], spans=[DocumentSpan(offset=717, length=9)]), DocumentParagraph(role=None, content=CR.1.05, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=6.6163, y=0.3615), Point(x=7.7631, y=0.3567), Point(x=7.7643, y=0.6231), Point(x=6.6174, y=0.6278)])], spans=[DocumentSpan(offset=727, length=7)]), DocumentParagraph(role=None, content=ESSO PRODUCTION RESEARCH COMPANY POST OFFICE Box 2189 HOUSTON, TEXAS 77001, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=2.5038, y=0.8038), Point(x=5.8378, y=0.7753), Point(x=5.8436, y=1.4531), Point(x=2.5096, y=1.4816)])], spans=[DocumentSpan(offset=735, length=74)]), DocumentParagraph(role=None, content=STRATIGRAPHIC GEOLOGY DIVISION R. M. TOURING. MANAGER, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=0.3988, y=1.7122), Point(x=2.4055, y=1.7027), Point(x=2.4067, y=1.9675), Point(x=0.4, y=1.977)])], spans=[DocumentSpan(offset=810, length=53)]), DocumentParagraph(role=None, content=September 12, 1967, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=5.1088, y=1.7884), Point(x=6.6555, y=1.7741), Point(x=6.6571, y=1.95), Point(x=5.1105, y=1.9643)])], spans=[DocumentSpan(offset=864, length=18)]), DocumentParagraph(role=None, content=Mr. P. Jacobsen, Jr. Esso Exploration Inc. Latin America Study Group 396 Alhambra Circle Coral Gables, Florida 33134 Dear Sir:, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=1.6068, y=2.9869), Point(x=3.8935, y=2.9869), Point(x=3.8935, y=4.1474), Point(x=1.6068, y=4.1474)])], spans=[DocumentSpan(offset=883, length=126)]), DocumentParagraph(role=None, content=Report is filed in CR 3.13, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=5.0446, y=2.3924), Point(x=7.3884, y=2.3638), Point(x=7.3968, y=3.0459), Point(x=5.053, y=3.0745)])], spans=[DocumentSpan(offset=1010, length=26)]), DocumentParagraph(role=None, content=Attached is a report by J. L. Lamb on "Paleontological Summary of the No. 1 Limon, No. 1 Victoria, and No. 1 El Tigre, Eastern Costa Rica." This study is based on picked faunal slides and thin sections that were submitted by your office with a request for an age and environmental interpretation of the well sections., bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=1.6105, y=4.3306), Point(x=6.8721, y=4.2977), Point(x=6.8783, y=5.3003), Point(x=1.6168, y=5.3332)])], spans=[DocumentSpan(offset=1037, length=317)]), DocumentParagraph(role=None, content=:, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=1.274, y=4.6706), Point(x=1.3642, y=4.6667), Point(x=1.3691, y=4.78), Point(x=1.279, y=4.7839)])], spans=[DocumentSpan(offset=1355, length=1)]), DocumentParagraph(role=None, content=The samples are interpreted generally as representing deposition in deep water. Most intervals are similar in fauna and age to rocks cropping out along the Pacific coast of Nicaragua; an equivalent to the Cretaceous Rivas Formation of Nicaragua, however, is not identified., bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=1.624, y=5.5053), Point(x=6.7477, y=5.4768), Point(x=6.7524, y=6.3068), Point(x=1.6286, y=6.3353)])], spans=[DocumentSpan(offset=1357, length=273)]), DocumentParagraph(role=None, content=The brief study has been charged to your office under our Technical Service Job No. 8766., bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=1.6431, y=6.5039), Point(x=6.5081, y=6.478), Point(x=6.5099, y=6.8099), Point(x=1.6449, y=6.8359)])], spans=[DocumentSpan(offset=1631, length=89)]), DocumentParagraph(role=None, content=We should appreciate hearing of the local applicability of these findings., bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=1.6384, y=7.0033), Point(x=6.6697, y=6.9774), Point(x=6.6715, y=7.3207), Point(x=1.6402, y=7.3466)])], spans=[DocumentSpan(offset=1721, length=74)]), DocumentParagraph(role=None, content=Very truly yours,, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=5.139, y=7.4815), Point(x=6.5461, y=7.4815), Point(x=6.5461, y=7.6575), Point(x=5.139, y=7.6528)])], spans=[DocumentSpan(offset=1796, length=17)]), DocumentParagraph(role=None, content=R. M. TOURING, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=5.1342, y=7.8097), Point(x=6.2514, y=7.805), Point(x=6.2514, y=7.9667), Point(x=5.1342, y=7.9714)])], spans=[DocumentSpan(offset=1814, length=13)]), DocumentParagraph(role=None, content=9/2/167, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=4.4021, y=8.0683), Point(x=5.1628, y=7.9286), Point(x=5.2008, y=8.1361), Point(x=4.4402, y=8.2758)])], spans=[DocumentSpan(offset=1828, length=7)]), DocumentParagraph(role=None, content=Russell M. Jeffords, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=5.3054, y=8.6516), Point(x=6.9074, y=8.6373), Point(x=6.9074, y=8.7895), Point(x=5.3054, y=8.8085)])], spans=[DocumentSpan(offset=1836, length=19)]), DocumentParagraph(role=None, content=Brussell 14 Jeffords, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=5.3054, y=8.2663), Point(x=7.4161, y=8.1759), Point(x=7.4351, y=8.6088), Point(x=5.3054, y=8.6468)])], spans=[DocumentSpan(offset=1856, length=20)]), DocumentParagraph(role=None, content=RMT : sw, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=1.6401, y=9.0035), Point(x=2.182, y=9.013), Point(x=2.1795, y=9.1558), Point(x=1.6376, y=9.1463)])], spans=[DocumentSpan(offset=1877, length=8)]), DocumentParagraph(role=None, content=cc: Producing Coordination Attn: W. E. Wallis Zeb Mayhew J. B. Coffman J. D. Skelton, bounding_regions=[BoundingRegion(page_number=2, polygon=[Point(x=1.6449, y=9.2784), Point(x=3.9224, y=9.2841), Point(x=3.9203, y=10.1136), Point(x=1.6428, y=10.1078)])], spans=[DocumentSpan(offset=1886, length=84)]), DocumentParagraph(role=None, content=CR.1.05, bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=6.5367, y=0.3915), Point(x=7.5033, y=0.4011), Point(x=7.5012, y=0.6111), Point(x=6.5346, y=0.6015)])], spans=[DocumentSpan(offset=1971, length=7)]), DocumentParagraph(role=None, content=PALEONTOLOGICAL REPORT, bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=0.8547, y=1.1363), Point(x=2.736, y=1.1363), Point(x=2.736, y=1.3034), Point(x=0.8547, y=1.3034)])], spans=[DocumentSpan(offset=1979, length=22)]), DocumentParagraph(role=None, content=que also demmary paleo rpt - CR-3.13, bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=2.841, y=0.8355), Point(x=7.5605, y=0.8689), Point(x=7.5585, y=1.1458), Point(x=2.839, y=1.1124)])], spans=[DocumentSpan(offset=2002, length=36)]), DocumentParagraph(role=None, content=VICTORIA No. 1 Compania Petrolera de Costa Rica, Ltd., bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=0.8499, y=1.48), Point(x=4.0729, y=1.48), Point(x=4.0729, y=1.8286), Point(x=0.8499, y=1.8286)])], spans=[DocumentSpan(offset=2039, length=53)]), DocumentParagraph(role=None, content=By: J. L. Lamb July 21, 1967, bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=5.8348, y=1.48), Point(x=7.2911, y=1.48), Point(x=7.2911, y=1.8381), Point(x=5.8348, y=1.8381)])], spans=[DocumentSpan(offset=2093, length=28)]), DocumentParagraph(role=None, content=SYNOPSIS, bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=3.2087, y=2.1532), Point(x=3.9106, y=2.1532), Point(x=3.9106, y=2.306), Point(x=3.2087, y=2.306)])], spans=[DocumentSpan(offset=2122, length=8)]), DocumentParagraph(role=None, content=5001 - 515\' ( core 1), bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=0.9168, y=2.4683), Point(x=2.6261, y=2.4683), Point(x=2.6261, y=2.6688), Point(x=0.9168, y=2.6688)])], spans=[DocumentSpan(offset=2131, length=21)]), DocumentParagraph(role=None, content=Early Miocene, bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=3.2898, y=2.4922), Point(x=4.4174, y=2.497), Point(x=4.4167, y=2.6688), Point(x=3.2891, y=2.6641)])], spans=[DocumentSpan(offset=2153, length=13)]), DocumentParagraph(role=None, content=1400\' - 1420\' (core 2), bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=0.9215, y=2.8025), Point(x=2.8124, y=2.8025), Point(x=2.8124, y=3.003), Point(x=0.9215, y=3.003)])], spans=[DocumentSpan(offset=2167, length=22)]), DocumentParagraph(role=None, content=Nondiagnostic, bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=3.2898, y=2.8359), Point(x=4.4215, y=2.8359), Point(x=4.4215, y=3.0078), Point(x=3.2898, y=3.0078)])], spans=[DocumentSpan(offset=2190, length=13)]), DocumentParagraph(role=None, content=1581\' - 2091\' (cores 3,4,5) Oligocene (Probably Globorotalia opima Zone) 2281\' - 2293\' (core 6) Upper Eocene, bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=0.9215, y=3.1415), Point(x=7.0386, y=3.1606), Point(x=7.037, y=3.6927), Point(x=0.9199, y=3.6736)])], spans=[DocumentSpan(offset=2204, length=108)]), DocumentParagraph(role=None, content=2541\' - 2753\' (cores 7, 8,9) Late middle Eocene 2820\' - 3788: (cores 10 -15) Sparsely fossiliferous, age indeterminate. 40741 - 50471 (cores 16 -19) Early Eocene, bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=0.9232, y=3.8194), Point(x=6.9307, y=3.8488), Point(x=6.9266, y=4.7054), Point(x=0.919, y=4.6761)])], spans=[DocumentSpan(offset=2313, length=161)]), DocumentParagraph(role=None, content=5930 - 5940\' (core 20), bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=0.9168, y=4.822), Point(x=2.8801, y=4.8316), Point(x=2.8792, y=5.0226), Point(x=0.9158, y=5.013)])], spans=[DocumentSpan(offset=2475, length=22)]), DocumentParagraph(role=None, content=Unfossiliferous Possibly Paleocene, bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=3.2373, y=4.8507), Point(x=4.8321, y=4.8507), Point(x=4.8321, y=5.3711), Point(x=3.2373, y=5.3711)])], spans=[DocumentSpan(offset=2498, length=34)]), DocumentParagraph(role=None, content=60251 - 6035\' (core 21), bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=0.9215, y=5.1658), Point(x=2.8797, y=5.1706), Point(x=2.8792, y=5.3663), Point(x=0.9211, y=5.3615)])], spans=[DocumentSpan(offset=2533, length=23)]), DocumentParagraph(role=None, content=6126\' - 6473\' (cores 22,23) Possibly Paleocene 7135\' - 10,469 : (cores 24 to 34) Unfossiliferous. These represent a distinctly differ-, bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=0.917, y=5.4952), Point(x=8.3085, y=5.5), Point(x=8.3081, y=6.0347), Point(x=0.9166, y=6.0299)])], spans=[DocumentSpan(offset=2557, length=134)]), DocumentParagraph(role=None, content=ent rock-type than encountered above and will be given to Dan Horowitz for study., bounding_regions=[BoundingRegion(page_number=3, polygon=[Point(x=3.266, y=6.197), Point(x=8.1458, y=6.197), Point(x=8.1458, y=6.7174), Point(x=3.266, y=6.7174)])], spans=[DocumentSpan(offset=2692, length=81)]), DocumentParagraph(role=None, content=Victoria , - Costa Rica Materials hansmitted to and received by Socony Mobil, bounding_regions=[BoundingRegion(page_number=4, polygon=[Point(x=4.6774, y=0.0877), Point(x=7.7243, y=0.0323), Point(x=7.7372, y=0.7434), Point(x=4.6903, y=0.7987)])], spans=[DocumentSpan(offset=2774, length=76)]), DocumentParagraph(role=None, content=X: Gulf well xlc Reed 4-14-66, bounding_regions=[BoundingRegion(page_number=4, polygon=[Point(x=6.6551, y=0.8936), Point(x=8.4178, y=0.8492), Point(x=8.4317, y=1.4011), Point(x=6.669, y=1.4455)])], spans=[DocumentSpan(offset=2851, length=29)]), DocumentParagraph(role=None, content=CR 1.05, bounding_regions=[BoundingRegion(page_number=4, polygon=[Point(x=5.3832, y=1.1802), Point(x=6.1171, y=1.0651), Point(x=6.1495, y=1.2716), Point(x=5.4156, y=1.3867)])], spans=[DocumentSpan(offset=2881, length=7)]), DocumentParagraph(role=None, content=TRANSMITTAL LIST, bounding_regions=[BoundingRegion(page_number=4, polygon=[Point(x=3.4633, y=1.2812), Point(x=4.8736, y=1.2812), Point(x=4.8736, y=1.4587), Point(x=3.4633, y=1.4587)])], spans=[DocumentSpan(offset=2889, length=16)]), DocumentParagraph(role=None, content=Re: Well information exchange agreement between I.P.C. - Socony Mobil - and Gulf Oil Corp. covering La Rada-1 and Victoria-1 dated February 18, 1966., bounding_regions=[BoundingRegion(page_number=4, polygon=[Point(x=1.2951, y=1.7898), Point(x=7.3771, y=1.7754), Point(x=7.3784, y=2.2994), Point(x=1.2964, y=2.3138)])], spans=[DocumentSpan(offset=2906, length=149)]), DocumentParagraph(role=None, content=VICTORIA-1 (Costa Rica), bounding_regions=[BoundingRegion(page_number=4, polygon=[Point(x=1.2899, y=2.6391), Point(x=3.3002, y=2.6343), Point(x=3.3007, y=2.8215), Point(x=1.2903, y=2.8263)])], spans=[DocumentSpan(offset=3056, length=23)]), DocumentParagraph(role=None, content=The following is a list of records and of rock samples pertaining to this well which are being provided in duplicate by Gulf Oil Corporation in conformity with the above agreement:, bounding_regions=[BoundingRegion(page_number=4, polygon=[Point(x=1.3086, y=2.9861), Point(x=7.6462, y=2.975), Point(x=7.6471, y=3.4927), Point(x=1.3095, y=3.5038)])], spans=[DocumentSpan(offset=3080, length=180)]), DocumentParagraph(role=None, content=V (1) COMPLETION REPORT - VICTORIA-1, bounding_regions=[BoundingRegion(page_number=4, polygon=[Point(x=1.0937, y=3.6315), Point(x=4.2653, y=3.6468), Point(x=4.2643, y=3.8531), Point(x=1.0927, y=3.8378)])], spans=[DocumentSpan(offset=3261, length=36)]), DocumentParagraph(role=None, content=- includes record of casing and of formation tests., bounding_regions=[BoundingRegion(page_number=4, polygon=[Point(x=2.1392, y=3.9971), Point(x=6.4374, y=3.9923), Point(x=6.4376, y=4.1746), Point(x=2.1394, y=4.1794)])], spans=[DocumentSpan(offset=3298, length=51)]), DocumentParagraph(role=None, content=(2) GEOLOGY CF VICTORIA-1, bounding_regions=[BoundingRegion(page_number=4, polygon=[Point(x=1.1033, y=4.2802), Point(x=3.5101, y=4.3293), Point(x=3.5053, y=4.5644), Point(x=1.0985, y=4.5153)])], spans=[DocumentSpan(offset=3350, length=25)]), DocumentParagraph(role=None, content=- includes descriptions of the lithostratigraphic units, core descriptions, core analysis results, and final paleontological report., bounding_regions=[BoundingRegion(page_number=4, polygon=[Point(x=1.7164, y=4.6747), Point(x=7.6122, y=4.6603), Point(x=7.613, y=5.0095), Point(x=1.7173, y=5.0239)])], spans=[DocumentSpan(offset=3376, length=132)]), DocumentParagraph(role=None, content=(3) CORE SAMPLES - VICTORIA-1, bounding_regions=[BoundingRegion(page_number=4, polygon=[Point(x=1.3335, y=5.1775), Point(x=3.8423, y=5.1775), Point(x=3.8423, y=5.3598), Point(x=1.3335, y=5.3598)])], spans=[DocumentSpan(offset=3509, length=29)]), DocumentParagraph(role=None, content=Two sets of core samples; each consisting of 45 samples between the depths of 500 and 10,475\'. The individual samples are listed on the accompanying sample record., bounding_regions=[BoundingRegion(page_number=4, polygon=[Point(x=1.7256, y=5.5292), Point(x=7.4776, y=5.5081), Point(x=7.4795, y=6.0249), Point(

In [124]:
input_string = analyzed_result['analyzeResult.paragraphs'][0]

In [137]:
type(result)

azure.ai.formrecognizer._models.AnalyzeResult

In [142]:
import pandas as pd

def create_paragraph_dataframe(analyze_result):
    data = []
    
    for paragraph in analyze_result.paragraphs:
        content = paragraph.content
        bounding_region = paragraph.bounding_regions[0]  # Assuming there's always at least one bounding region
        page_number = bounding_region.page_number
        polygon = [(point.x, point.y) for point in bounding_region.polygon]
        span = paragraph.spans[0]  # Assuming there's always at least one span
        
        data.append({
            "offset": span.offset,
            "length": span.length,
            "content": content,
            "page_number": page_number,
            "polygon": polygon
        })
        
    df_paragraph_spans = pd.DataFrame(data)

    return df_paragraph_spans

In [143]:
a = create_paragraph_dataframe(result)

In [144]:
a

,offset,length,content,page_number,polygon
0,0,35,H12943623 KATALYST DATA MANAGEMENT,1,"[(1.5709, 0.6702), (2.7771, 0.6461), (2.7825, ..."
1,36,7,CR 1.03,1,"[(6.7387, 1.3306), (7.7821, 1.345), (7.7791, 1..."
2,44,14,"March 21, 1950",1,"[(3.6263, 1.7614), (4.8913, 1.7518), (4.8929, ..."
3,59,11,Filet CR-30,1,"[(5.0014, 2.2496), (6.0974, 2.2496), (6.0974, ..."
4,71,8,Subject:,1,"[(5.0014, 2.5942), (5.7145, 2.5942), (5.7145, ..."
...,...,...,...,...,...
135,5231,299,6 Circ & cond mud 10 hrs. Drilled plug & shoe ...,5,"[(3.2411, 5.8407), (7.8798, 5.9063), (7.8631, ..."
136,5531,10,Form. N %,5,"[(0.616, 10.0543), (1.1988, 10.0543), (1.1988,..."
137,5542,123,7 Circ & cond mud 16 hrs. Using Lime-Oil Emuls...,5,"[(3.2411, 7.2034), (7.7862, 7.2304), (7.7832, ..."
138,5666,3,79',5,"[(2.4829, 7.3631), (2.7198, 7.3631), (2.7246, ..."
139,5670,13,117.275 Tormo,5,"[(6.8706, 10.1633), (7.5638, 10.1728), (7.5625..."

In [149]:
import pandas as pd

def create_style_dataframe(analyze_result):
    data = []

    for style in analyze_result.styles:
        is_handwritten = style.is_handwritten
        confidence = style.confidence
        
        for span in style.spans:
            data.append({
                "confidence": confidence,
                "is_handwritten": is_handwritten,
                "offset": span.offset,
                "length": span.length
            })

    df_style_spans = pd.DataFrame(data)

    return df_style_spans

In [150]:
b = create_style_dataframe(result)

In [151]:
b

   confidence  is_handwritten  offset  length
0         1.0            True      36       7
1         1.0            True    1308      14
2         1.0            True    1355       8
3         1.0            True    4672       1
4         0.4            True    3186       1
5         0.4            True    4649       1
6         0.7            True    4960       1

In [148]:
result.styles

[DocumentStyle(is_handwritten=True, spans=[DocumentSpan(offset=36, length=7), DocumentSpan(offset=1308, length=14), DocumentSpan(offset=1355, length=8), DocumentSpan(offset=4672, length=1)], confidence=1.0, similar_font_family=None, font_style=None, font_weight=None, color=None, background_color=None),
 DocumentStyle(is_handwritten=True, spans=[DocumentSpan(offset=3186, length=1), DocumentSpan(offset=4649, length=1)], confidence=0.4, similar_font_family=None, font_style=None, font_weight=None, color=None, background_color=None),
 DocumentStyle(is_handwritten=True, spans=[DocumentSpan(offset=4960, length=1)], confidence=0.7, similar_font_family=None, font_style=None, font_weight=None, color=None, background_color=None)]